$easing: cubic-bezier(.25,0,.75,1);
$easing-out: cubic-bezier(0,0,0,1);
$easing-smooth: cubic-bezier(.8,0,.2,1);
$easing-steep: cubic-bezier(.9,0,.1,1);
$easing-bounce: cubic-bezier(.5,1.4,.1,1);

$logo-transition-time: .42s;
$toggle-anim-function: $easing-steep;
$toggle-anim-duration: .6s;