$easing: cubic-bezier(.25,0,.75,1);
$easing-out: cubic-bezier(.2,0,.5,1);
$easing-smooth: cubic-bezier(.7,0,.3,1);
$easing-bounce: cubic-bezier(.5,1.4,.1,1);

$logo-transition-time: .42s;
$menu-transition-time: .25s;
$link-transition-time: .175s;
$widget-transition-time: .2s;
$social-transition-time: $widget-transition-time * 2;
$article-transition-time: .3s;