$font-fallback-list: (
    serif: (
        Constantia,
        Lucida Bright,
        Lucidabright,
        Lucida Serif,
        Lucida,
        DejaVu Serif,
        Bitstream Vera Serif,
        Liberation Serif,
        Georgia,
        serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol'
    ),
    sans: (
        Frutiger,
        Frutiger Linotype,
        Univers,
        Calibri,
        Gill Sans,
        Gill Sans MT,
        Myriad Pro,
        Myriad,
        DejaVu Sans Condensed,
        Liberation Sans,
        Nimbus Sans L,
        Tahoma,
        Geneva,
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
    'Segoe UI Symbol'
    ),
    mono: (
        Monaco,
        Courier New,
        monospace,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol'
    )
);

$font-token: map-get($tokens, fonts);

$fonts: (
    // Stacks based on https://gist.github.com/don1138/5761014
    'heading': (
        'main': (#{ map-get($font-token, heading_main) }),
        'fallback': map-get($font-fallback-list, map-get($font-token, heading_fallback))
    ),

    'body': (
        'main': (#{ map-get($font-token, body_main) }),
        'fallback': map-get($font-fallback-list, map-get($font-token, body_fallback))
    ),

    'code': (
        'main': (#{ map-get($font-token, code_main) }),
        'fallback': map-get($font-fallback-list, map-get($font-token, code_fallback))
    )
);