// Layer ordering
$z-index: (
    'main': 20,
    'article': 30,
    'footer': 40,
    'header': 50,
    'nav': 60,
    'spotlight': 100
);

// Sizing
$rem-in-px: 16px;
$spacing: 1rem;
$ratio: 1.2;

//-- Content @ large
$large-breakpoint-width-rem: 60; 
$large-breakpoint-width: $large-breakpoint-width-rem * 1em; // 960px

//-- Breakpoint @ medium
$medium-breakpoint-width-rem: 48;
$medium-breakpoint-width: $medium-breakpoint-width-rem * 1em; // 768px

//-- Breakpoint @ small
$small-breakpoint-width-rem: 30;
$small-breakpoint-width: $small-breakpoint-width-rem * 1em; // 480px