// Layer ordering
$z-index: (
    'main': 20,
    'article': 30,
    'footer': 40,
    'header': 50,
    'nav': 60,
    'spotlight': 100
);

// Sizing
$rem-in-px: 16px;
$spacing: 1rem;
$ratio: 1.2;
$container-max-width: 60;
$container-max-width-em: #{ $container-max-width * 1em };
$header-brand-height: 2rem;
$header-expected-height: $spacing * 2 + $header-brand-height;
$code-breakout-size: 2rem;

// Typography
$base-line-height: 1.5;
$base-flow-spacing: $spacing * $base-line-height;

// Breakpoints used in fluid type
//-- Content @ large
$large-breakpoint-width-rem: $container-max-width; 
$large-breakpoint-width: $large-breakpoint-width-rem * 1rem;

//-- Breakpoint @ medium
$medium-breakpoint-width-rem: $container-max-width / 5 * 4;
$medium-breakpoint-width: $medium-breakpoint-width-rem * 1rem;

//-- Breakpoint @ small
$small-breakpoint-width-rem: $container-max-width / 2;
$small-breakpoint-width: $small-breakpoint-width-rem * 1rem;