<button class="colour-toggler__button button--reset u-posRelative u-beforeCover u-displayBlock u-margin--auto u-marginInlineEnd--none u-flex--shrink--none u-c--main-min u-c:h--comp-med" type="button" data-scheme-switcher>
    <span class="visually-hidden">Toggle Dusk/Dawn</span>
</button>