<button class="button--reset u-posRelative u-displayBlock u-margin--auto u-marginInline--none u-flex--shrink--none u-c--primary-min u-c:h--comp-med" type="button" data-lang-menu>
    {{ icons.lang | safe }}
    <span class="visually-hidden">{{ langSwitchLabel }}</span>
</button>

<button class="button--reset u-posRelativeu-displayBlock u-margin--auto u-marginInline--none u-flex--shrink--none u-c--primary-min u-c:h--comp-med" type="button" data-scheme-switcher>
    {{ icons.scheme | safe }}
    <span class="visually-hidden">{{ schemeSwitchLabel }}</span>
</button>