<header class="header u-bg--primary-max">
    <div class="u-container u-displayFlex u-flex--centreBlock u-flex--wrap u-paddingBlock">
        <span class="visually-hidden">Andy Bell: Homepage</span>

        {%- set svg_brand_classes = "header__svg header__logo" -%}
        {%- set svg_brand_path_classes = "header__logo-path" -%}
        <a href="{{ metadata.languages[locale].path | url }}" class="header__link u-marginInlineEnd u-c--secondary-med u-c:h--secondary-min">
            {% include "assets/img/ckn.svg" %}
        </a>

        {% include "components/nav.njk" %}

        {%- set svg_rss_classes = "header__svg header__rss" -%}
        <a href="{{ localePath }}feed.xml" class="u-c--grey-min u-c:h--grey-max u-bg:h--secondary-med u-flex--shrink--none u-marginInlineStart">
            {% include "assets/img/rss.svg" %}
        </a>
    </div>
</header>