<header class="header u-color--accent-700 u-background--main-900">
    <em>
        <a href="{{ metadata.langues[locale].path | url }}">{{ metadata.title }}</a>
    </em>
    {% include "components/nav.njk" %}
</header>
