<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ navtitle or title or renderData.title }} | {{ metadata.title }}</title>
	{% if summary %}<meta name="description" content="{{ summary }}">{% endif %}
	<meta property="og:title" content="{{ navtitle or title or renderData.title }} | {{ metadata.title }}">
	{% if summary %}<meta name="og:description" content="{{ summary }}">{% endif %}
	<meta property="og:site_name" content="{{ metadata.title }}">
	<meta property="og:locale" content="{{ locale }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ localePath | url | absoluteUrl(metadata.url) }}">
	<meta property="og:image" content="{{ '/assets/img/metaimage.jpg' | url | absoluteUrl(metadata.url) }}">
	{# Add a slash in the final markup for root access #}
	{% set globalStylesPath = "/" + metadata.assetUrl.globalStyles %}
	<link rel="preload" href="{{ globalStylesPath | url }}" as="style">

	{% if section == "home" %}
		{% set homeFontStylesPath = "/" + metadata.assetUrl.stylesFolder + "/home-fontface.css" %}
		<link rel="preload" href="{{ homeFontStylesPath | url }}" as="style">

		{% for fontPurpose, fontName in tokens.fonts.home_mark %}
			{% set fontAssetUrl = "/"+ metadata.assetUrl.fontFaceFolder + "/" + (fontName | replace(" ", "")) + "-subset.woff2" %}
			<link rel="preload" href="{{ fontAssetUrl | url }}" as="font" type="font/woff2" crossorigin="anonymous">
		{% endfor %}

		<link rel="stylesheet" href="{{ homeFontStylesPath | url }}" media="print" id="home-fonts">
		<script>document.getElementById('home-fonts').onload=function(){this.media='all'}</script>
		<noscript><link rel="stylesheet" href="{{ homeFontStylesPath | url }}" media="all"></noscript>
	{% endif %}

	{% set css %}
		{% include "assets/css/inline.css" %}
	{% endset %}
	<style>
	{{- css | cssmin | safe }}

	{% if ownstyles -%}
		{# Add page-specific styles inline #}
		{% set ownStylesList = ownstyles | split(",") %}
		{% set pageStyleGroup = "" %}

		{% for ownStyle in ownStylesList %}
			{% set pagestylelink %}{{ metadata.assetUrl.stylesFolder }}/{{ ownStyle }}.css{% endset %}
			{% set pagestyle %}{% include pagestylelink %}{% endset %}
			{% set pageStyleGroup = pageStyleGroup + pagestyle %}
		{% endfor -%}

		{{- pageStyleGroup | cssmin | safe -}}
	{%- endif -%}
	</style>

	<link rel="stylesheet" href="{{ globalStylesPath | url }}" media="all" id="global-styles">

	{% set js %}
		{% include "assets/js/inline.js" %}
		{% include "assets/js/color-scheme-switcher.js" %}
	{% endset %}
	<script>{{ js | jsmin | safe }}</script>

	<link rel="icon" href="{{ "/" + metadata.assetUrl.icons.faviconPng | url }}" type="image/png">
	<link rel="icon" href="{{ "/" + metadata.assetUrl.icons.faviconSvg | url }}">
	<link rel="mask-icon" href="{{ "/" + metadata.assetUrl.icons.maskIcon | url }}" color="{{ tokens.colors.dusk.secondary.med }}">
	<link rel="apple-touch-icon" href="{{ "/" + metadata.assetUrl.icons.appleTouchIcon | url }}">
	<meta name="theme-color" content="{{ tokens.colors.dusk.primary.max }}">
	{# <link rel="manifest" href="{{ "/" + metadata.assetUrl.manifest | url }}"> #}
	
	{% if page.fileSlug and section %}
		{% set resourceVariants %}{% if section == 'post' %}posts_all{% else %}pages_all{% endif %}{% endset %}
		{% set filteredVariants = collections | findVariants(resourceVariants, page.fileSlug, locale) %}
		
		<link rel="alternate" href="{{ permalink | url | absoluteUrl(metadata.url) }}" hreflang="{{ locale }}">
		{% for variant in filteredVariants %}
		<link rel="alternate" href="{{ variant.url | url | absoluteUrl(metadata.url) }}" hreflang="{{ variant.data.locale }}">
		{% endfor %}
	{% endif %}
	<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ localeRssUrl }}">
</head>
