<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ navtitle or title or renderData.title }} | {{ metadata.title }}</title>
	{% if summary %}<meta name="description" content="{{ summary }}">{% endif %}
	<meta property="og:title" content="{{ navtitle or title or renderData.title }} | {{ metadata.title }}">
	{% if summary %}<meta name="og:description" content="{{ summary }}">{% endif %}
	<meta property="og:site_name" content="{{ metadata.title }}">
	<meta property="og:locale" content="{{ locale }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ localePath | url | absoluteUrl(metadata.url) }}">

	{# Add a dynamic image for blog posts, based on https://www.juanfernandes.uk/blog/automated-open-graph-images-with-11ty-and-cloudinary/ #}
	{% if section == 'post' %}
	<meta name="twitter:image" property="og:image" content="{{ metadata.cloudinary.url }}/w_1200,f_auto/l_{{ metadata.cloudinary.logo }},w_128,g_south_east,x_64,y_42/l_text:{{ metadata.cloudinary.font }}_100_center:{{ navtitle or title or renderData.title | cloudinaryEscape }},co_rgb:ffe4c2,c_fit,w_900/{{ metadata.cloudinary.image }}" />
	{% else %}
	<meta name="twitter:image" property="og:image" content="{{ '/assets/img/metaimage.jpg' | url | absoluteUrl(metadata.url) }}">
	{% endif %}
	<meta name="twitter:image:alt" property="og:image:alt" content="{{ navtitle or title or renderData.title }}" />

	{# Add a slash in the final markup for root access #}
	{# {% set globalStylesPath = "/" + metadata.assetUrl.globalStyles %}
	<link rel="preload" href="{{ globalStylesPath | url }}" as="style"> #}
	{# Preload main heading font #}
	{# {% set globalFontFilePath = "/" + metadata.assetUrl.fonts.heading %}
	<link rel="preload" href="{{ globalFontFilePath | url }}" as="font" type="font/woff2" crossorigin> #}

	{% if section == "home" %}
		{% set homeFontStylesPath = "/" + metadata.assetUrl.stylesFolder + "/home-fontface.css" %}
		<link rel="preload" href="{{ homeFontStylesPath | url }}" as="style">

		{% for fontPurpose, fontName in tokens.fonts.home_mark %}
			{% set fontAssetUrl = "/"+ metadata.assetUrl.fontFaceFolder + "/" + (fontName | replace(" ", "")) + "-subset.woff2" %}
			<link rel="preload" href="{{ fontAssetUrl | url }}" as="font" type="font/woff2" crossorigin>
		{% endfor %}

		<link rel="stylesheet" href="{{ homeFontStylesPath | url }}" media="print" id="home-fonts">
		<script>document.getElementById('home-fonts').onload=function(){this.media='all'}</script>
		<noscript><link rel="stylesheet" href="{{ homeFontStylesPath | url }}" media="all"></noscript>
	{% endif %}

	{% set css %}{% include metadata.assetUrl.globalStyles %}{% endset %}
	<style>
	{{- css | safe -}}

	{%- if ownstyles -%}
		{# Add page-specific styles inline #}
		{%- set pageStyleGroup = "" -%}

		{%- for ownStyle in ownstyles -%}
			{%- set pagestylelink %}{{ metadata.assetUrl.stylesFolder }}/{{ ownStyle | trim(' ') }}.css{% endset -%}
			{%- set pagestyle %}{% include pagestylelink %}{% endset -%}
			{%- set pageStyleGroup = pageStyleGroup + pagestyle -%}
		{%- endfor -%}

		{{- pageStyleGroup | cssmin | safe -}}
	{%- endif -%}
	</style>
	<meta property="cknOwnStyles" values="global + {{ ownstyles | dump }}" />

	{# <link rel="stylesheet" href="{{ globalStylesPath | url }}" media="all" id="global-styles"> #}

	<link rel="icon" href="{{ "/" + metadata.assetUrl.icons.faviconPng | url }}" type="image/png">
	<link rel="icon" href="{{ "/" + metadata.assetUrl.icons.faviconSvg | url }}">
	<link rel="mask-icon" href="{{ "/" + metadata.assetUrl.icons.maskIcon | url }}" color="{{ tokens.colors.dusk.secondary.med }}">
	<link rel="apple-touch-icon" href="{{ "/" + metadata.assetUrl.icons.appleTouchIcon | url }}">
	<meta name="theme-color" content="{{ tokens.colors.dusk.primary.max }}">
	{# <link rel="manifest" href="{{ "/" + metadata.assetUrl.manifest | url }}"> #}
	
	{% if page.fileSlug and section %}
		{% set resourceVariants %}{% if section == 'post' %}posts_all{% else %}pages_all{% endif %}{% endset %}
		{% set filteredVariants = collections | findVariants(resourceVariants, page.fileSlug, locale) %}
		
		<link rel="alternate" href="{{ permalink | url | absoluteUrl(metadata.url) }}" hreflang="{{ locale }}">
		{% for variant in filteredVariants %}
		<link rel="alternate" href="{{ variant.url | url | absoluteUrl(metadata.url) }}" hreflang="{{ variant.data.locale }}">
		{% endfor %}
	{% endif %}
	<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ localeRssUrl }}">
</head>
