<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if summary %}<meta name="description" content="{{ summary }}">{% endif %}
	<title>{{ navtitle or title or renderData.title }} | {{ metadata.title }}</title>
	{%- set css -%}
	{%- include "assets/css/inline.css" -%}
	{%- endset %}
	<style>{{ css | cssmin | safe }}</style>

	{%- if ownstyles %}
		{% set ownStylesList = ownstyles | split(",") -%}
		{%- set pageStyleGroup = "" -%}
		{%- for ownStyle in ownStylesList -%}
			{%- set pagestylelink %}assets/css/{{ ownStyle }}.css{% endset -%}
			{%- set pagestyle %}{% include pagestylelink %}{% endset %}
			{%- set pageStyleGroup = pageStyleGroup + pagestyle -%}
		{%- endfor -%}
		<style>{{ pageStyleGroup | cssmin | safe }}</style>
	{%- endif -%}

	{% set js %}
	{% include "assets/js/inline.js" %}
	{% endset %}
	<script>{{ js | jsmin | safe }}</script>

	<link rel="icon" href="{{ '/assets/img/icon.png' | url }}" type="image/png">
	<link rel="stylesheet" href="{{ '/assets/css/global.css' | url }}" />
	{%- if translationKey and section -%}
	{%- set resourceVariants %}{% if section == 'post' %}posts_all{% else %}pages_all{% endif %}{% endset -%}
	{%- set filteredVariants = collections | findVariants(resourceVariants, translationKey, locale) -%}
	{%- for variant in filteredVariants %}
	<link rel="alternate" href="{{ variant.url | url }}" hreflang="{{ variant.data.locale }}" />
	{% endfor %}
	{%- endif -%}
	{% set localeRssUrl %}{{ localePath }}feed.xml{% endset %}
	<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ localeRssUrl }}">
	{# <script src="{{ '/assets/js/color-scheme-switcher.js' | url }}" deferred></script> #}
</head>
