{% set navList = collections['pages_'+locale] | sortNavLocale(navSet) %}
<ul class="nav__list u-displayFlex u-flex--wrap u-flex--stretchBlock">
{% for nav in navList %}
	<li class="nav__item u-displayFlex u-flex--stretchBlock">
		<a href="{{ nav.url | url }}" class="nav__link u-displayFlex u-flex--centreBlock u-paddingInline--half u-fontBold u-c--grey-min h:u-c--grey-max h:u-bg--secondary-med"{% if nav.url == page.url %} data-current="true"{% endif %}>{{ nav.data.navtitle }}</a>
	</li>
{% endfor %}
</ul>