<nav class="nav u-displayFlex u-flex--stretchBlock u-marginInlineEnd--auto">
	{% set navList = collections['pages_'+locale] | sortNavLocale(navSet) %}
	<ul class="nav__list u-displayFlex u-flex--wrap u-flex--stretchBlock">
	{% for nav in navList %}
		<li class="nav__item u-displayFlex u-flex--stretchBlock u-marginInlineEnd">
			<a href="{{ nav.url | url }}" class="nav__link u-displayFlex u-flex--centerBlock u-fontBold u-c--grey-min u-c:h--comp-med"{% if nav.url == page.url %} data-current="true"{% endif %}>{{ nav.data.navtitle }}</a>
		</li>
	{% endfor %}
	</ul>
</nav>
