<div class="postlist u-marginBlockStart">
	{% for post in postslist | reverse %}
		<article class="postlist__post u-posRelative u-displayFlex u-flex--wrap u-paddingBlock" {% if post.url == url %} data-current="current item"{% endif %}>
			<time class="postlist__date u-flex--grow-1 u-c--primary-med u-fontBold u-paddingInlineEnd u-marginBlockEnd--half" datetime="{{ post.date | machineDate }}">{{ post.date | date(dateFormat, locale) }}</time>

			<div class="postlist__content u-flex--grow-3">
				<h2 class="h3">
					<a href="{{ post.url | url }}" class="heading-link u-textDecoration--underline">
						{{- post.data.title or "Untitled Post" -}}
					</a>
				</h2>

				<p class="u-marginBlockStart--half">
					{{- post.data.summary or post.excerpt -}}
				</p>
			</div>
		</article>
	{% endfor %}
</div>
