@font-face {
	font-family: "IBMPlexSans";
	src: url('../fonts/IBMPlexSansVar-Roman.woff2') format('woff2-variations'), local("IBMPlexSans"), local("IBM Plex Sans");
	font-style: normal;
	font-weight: 100 700;
}

@font-face {
	font-family: "IBMPlexSans";
	src: url('../fonts/IBMPlexSansVar-Italic.woff2') format('woff2-variations'), local("IBMPlexSans"), local("IBM Plex Sans");
	font-style: italic;
	font-weight: 100 700;
}