// Heading
@font-face {
	font-family: "Marvin Visions Big";
	src: local('Marvin Visions Big'),
		local('Marvin Visions Big Bold'),
		url('/assets/fonts/MarvinVisionsBig-Bold.woff2') format("woff2"),
		url('/assets/fonts/MarvinVisionsBig-Bold.woff') format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}