@font-face {
	font-family: "IBMPlexSans";
	src: url('../fonts/IBMPlexSansVar-Roman.woff2') format('woff2 supports variations'), url('../fonts/IBMPlexSansVar-Roman.woff2') format('woff2-variations');
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
}

@font-face {
	font-family: "IBMPlexSans";
	src: url('../fonts/IBMPlexSansVar-Italic.woff2') format('woff2 supports variations'), url('../fonts/IBMPlexSansVar-Italic.woff2') format('woff2-variations');
	font-style: italic;
	font-weight: 100 700;
	font-display: swap;
}