a:not([class]) {
    &:link,
    &:visited {
        color: var(--c, var(--colour-grey));
        text-decoration-color: var(--colour-primary);
        transition: 
            text-decoration-thickness 200ms ease-out, 
            text-underline-offset 200ms ease-out,
            text-decoration-color 200ms ease-out,
            color 200ms ease-out
        ;
    }

    &:hover,
    &:focus,
    &:active {
        color: var(--c, var(--colour-primary));
        text-decoration-color: var(--c, var(--colour-secondary));
    }

    @supports (text-decoration-thickness: 1em) {
        &:link {
            text-decoration-skip-ink: none;
            text-decoration-thickness: 0.25em;  
            text-underline-offset: 0.25em;
        }
    
        &:hover {
            color: var(--bg, var(--colour-bg));
            text-decoration-thickness: 1.375em;
            text-underline-offset: -0.875em;     
        }
    }
}