// .o-inlineList {
//     > li {
//         display: inline-block;

//         &:not(:last-child) {
//             &::after {
//                 content: ",\00a0";
//             }
//         }
//     }
// }

// .o-basicList[class] { // [class] added to override the ol/ul[class] default style
//     list-style-type: disc;
//     list-style-position: inside;

//     ul {
//         padding-left: $spacing;
//         // padding-inline-start: $spacing;
//         list-style-type: square;
//         list-style-position: inside;
//     }
// }

.o-inlineList {
    display: inline-block;

    & > li { display: inline; }
    
    & > li:not(:last-child) {
        &::after {
            content: " ";
            
            letter-spacing: 0.75em;
            background: linear-gradient(90deg, transparent calc(50% - 0.03125em), currentColor 0, currentColor calc(50% + 0.03125em), transparent 0);
            opacity: 0.75;
        }
    }
}