ul,
ol {
    padding: 0;
    list-style-position: inside;
}

ul {
    list-style-type: square;
}

.o-inlineList {
    display: inline-block;
    line-height: calc(#{$base-line-height * 1em} + 0.5rem);

    & > li { display: inline; }
    
    & > li:not(:last-child) {
        &::after {
            content: " ";
            
            letter-spacing: 0.75em;
            letter-spacing: max(0.5rem, 0.75em); // Ensure there is at least 8px between items
            background: linear-gradient(90deg, transparent calc(50% - 0.03125em), currentColor 0, currentColor calc(50% + 0.03125em), transparent 0);
            opacity: 0.75;
        }
    }
}