body {
    scrollbar-color: var(--c-primary-med);
    scrollbar-width: 1rem;

    &::-webkit-scrollbar {
        width: 1rem;
        height: 1rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--c-primary-med) linear-gradient(
            to bottom,
            var(--c-primary-min) 0.125rem,

            transparent 0,
            transparent calc(50% - 0.0625rem),

            var(--c-primary-min) 0,
            var(--c-primary-min) calc(50% + 0.0625rem),

            transparent 0,
            transparent calc(100% - 0.125rem),

            var(--c-primary-min) 0,
            var(--c-primary-min) calc(50% + 0.125rem)
        ) center / calc(100% - 0.5rem) 0.5rem no-repeat; // Creates three horizontal lines in the middle of the scrollbar thumb
        box-shadow:
            inset 1px 0 0 var(--c-primary-min), // Left-side line on inside
            inset -1px 0 0 var(--c-primary-min), // Ride-side line on inside
            0 0 0 1px var(--c-primary-min); // Top- and bottom-side lines on outside
    }
    
    &::-webkit-scrollbar-track {
        background: linear-gradient(90deg, var(--c-grey-med) 1px, var(--c-grey-max) 0);
    }
}