---
layout: layouts/base.njk
section: 404
mainClasses: u-container--narrow u-flow--double u-padding--double
ownstyles: cdiv
---

{% set clock_404 -%}
{%- include "assets/img/clock-404.njk" -%}
{%- endset -%}
{{ clock_404 | htmlmin | safe }}

{{ layoutContent | safe }}

<p class="u-textCenter">
    <a href="{{ localePath | url }}" class="u-displayInlineFlex u-padding {{ utilities.boxLink }} u-textLarge u-lineHeight--1">
        <svg class="u-displayInlineBlock u-marginInlineEnd--half u-width--1em" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M11 17l-5-5 5-5M18 17l-5-5 5-5"/></svg>
        {{ localisedContent.logoLink }}
    </a>
</p>