<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} data-scheme="dusk" lang="{{ locale }}" class="no-js">

{% include "components/head.njk" %}

<body class="u-displayFlex u-flex--column">
	<a class="visually-hidden visually-hidden--focusable u-zIndex--2 u-padding--half h_u-c--grey-min h_u-bg--secondary-max" href="#content" data-skiplink>{{ localisedContent.skiplink }}</a>

	{% include "components/header.njk" %}
	
	{% set mainClassOutput = mainClasses if mainClasses else "" %}
	<main class="main content {{ mainClassOutput }} u-paddingBlockEnd--double u-flow fluid-type" id="content" tabindex="-1">
		{{ layoutContent | safe }}
	</main>

	{% include "components/footer.njk" %}
	
	{% set anchorLinkSvgClass = "u-displayNone" -%}
	{%- include "assets/img/anchor-link.njk" %}
</body>

</html>