<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} data-scheme="dusk" lang="{{ locale }}">

	{% include "components/head.njk" %}

	<body>

		{% include "components/header.njk" %}
		
		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
