---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

<header class="{{ utilities.bigboi }} u-breakout">
    <div class="{{ utilities.bigboiContent }}">
        <h1 class="u-width--100 u-displayFlex  u-flex--centerBlock">
			{{ title }}
			
			<a href="{{ localeRssUrl }}" aria-label="{{ localisedContent.rssHint }}" class="u-displayInlineBlock u-width--0.9em u-marginInlineStart u-padding--half {{ utilities.glowBoxLink }}">
				{% include "assets/img/rss.svg" %}
			</a>
		</h1>
    </div>
</header>

{{ layoutContent | safe }}

{% set postslist = collections["posts_" + locale] %}
{% include "components/postslist.njk" %}