---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
ownstyles: ['blog']
---

<header class="{{ utilities.bigboi }}">
    <div class="{{ utilities.bigboiContent }}">
        <h1 class="u-width--100 u-displayFlex u-flex--centerBlock">
			{{ title }}
			
			<a href="{{ localeRssUrl }}" class="u-textNormal u-letterSpacing--reset u-fontBody u-displayInlineFlex u-marginInlineStart u-padding--half | h:u-textDecoration--none | {{ utilities.glowBoxLink }}">
				{% include "assets/img/rss.svg" %}
				<span class="u-marginInlineStart--half">{{ localisedContent.rssHint }}</span>
			</a>
		</h1>
    </div>
</header>

{{ layoutContent | safe }}

{% set postslist = collections["posts_" + locale] %}
{% include "components/postslist.njk" %}
