---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
ownstyles: ['blog']
---

<header class="{{ utilities.bigboi }}">
    <div class="{{ utilities.bigboiContent }}">
        <h1 class="u-width--100 u-displayFlex u-flex--centerBlock">
			{{ title }}
		</h1>
		<a href="{{ localeRssUrl }}" class="u-displayInlineFlex u-marginInlineEnd | u-c--grey-min u-fontBold h_u-textDecoration--none">
			{% include "assets/img/rss.svg" %}
			<span class="u-marginInlineStart--half">{{ localisedContent.rssHint }}</span>
		</a>
    </div>
</header>

{{ layoutContent | safe }}

{% set postslist = collections["posts_" + locale] %}
{% include "components/postslist.njk" %}
