---
layout: layouts/base.njk
section: design-tokens
permalink: /design-tokens/index.html
---
<h1>{{ title }}</h1>

{% for group, items in tokens.colours %}
    <h2>{{ group }}</h2>
    <div class="u-displayFlex">
        {% for key, hex in items %}
            <figure class="u-marginInline">
                <figcaption>{{ key }}: {{ hex }}</figcaption>
                <svg width="8em" height="8em" aria-label="{{ hex }}" class="u-border">
                    <rect fill="{{ hex }}" width="100%" height="100%"/>
                </svg>
            </figure>
        {% endfor %}
    </div>
{% endfor %}