---
layout: layouts/base.njk
section: home
ownstyles: ['home']
---

<div class="content-full homescreen u-displayFlex u-flex--stretch" aria-label="Chris Kirk-Nielsen: creative developer, in a heavily eighties-inspired graphical style with neon colours, a perspective grid, and a large sun in the background">
    <div class="homescreen__wrapper u-displayFlex u-flex--center u-posRelative u-width--100">
        <div class="homescreen__background u-absCover u-overflowHidden u-beforeCover u-afterCover" aria-hidden="true">
            {% set ckn_grid -%}
            {%- include "assets/img/home-grid.svg" -%}
            {%- endset -%}
            {{ ckn_grid | htmlmin | safe }}
            {# <div class="homescreen__scene u-absCover u-beforeCover u-afterCover" aria-hidden="true"></div> #}
        </div>

        <h1 class="homescreen__svg-wrapper u-posRelative">
            {% set ckn_mark -%}
            {%- include "assets/img/home-mark.njk" -%}
            {%- endset -%}
            {{ ckn_mark | htmlmin | safe }}
        </h1>
    </div>
</div>

<div class="u-flow">
    {{ layoutContent | safe }}

    {% set latestposts = collections["posts_" + locale] | reverse %}
    {%- set latestpostslength = latestposts.length if latestposts.length < 2 else 2 -%}
    {%- if latestpostslength > 0 -%}
    <div class="{{ utilities.cardContainer }}">
        {%- for i in range(0, latestpostslength) -%}
        {% set latestpost = latestposts[i] %}
        <article class="u-posRelative {{ utilities.cardFlex }} {{ utilities.cardBox }} {{ utilities.cardBoxLink }}">
            <time class="u-c--primary-med u-fontBold" datetime="{{ latestpost.date | machineDate }}">{{ latestpost.date | date(dateFormat, locale) }}</time>

            <h2 class="h3">
                <a href="{{ latestpost.url | url }}" class="u-textDecoration--none u-afterCover">
                    {{- latestpost.data.title -}}
                </a>
            </h2>

            <p class="u-marginBlockStart--half">
                {%- if latestpost.data.summary -%}
                    {{- latestpost.data.summary -}}
                {%- else -%}
                    {{- latestpost.excerpt -}}
                {%- endif -%}
            </p>
        </article>
        {% endfor %}
    </div>
    {% endif %}
</section>