---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}
<style>.palette { width: calc(9 * 50px); }</style>
<style>.palette > div { width: 50px; height: 50px; }</style>
<div class="u-displayFlex palette">
    <div style="background: var(--c-grey-100);"></div>
    <div style="background: var(--c-grey-200);"></div>
    <div style="background: var(--c-grey-300);"></div>
    <div style="background: var(--c-grey-400);"></div>
    <div style="background: var(--c-grey-500);"></div>
    <div style="background: var(--c-grey-600);"></div>
    <div style="background: var(--c-grey-700);"></div>
    <div style="background: var(--c-grey-800);"></div>
    <div style="background: var(--c-grey-900);"></div>
</div>

<div class="u-displayFlex palette">
    <div style="background: var(--c-main-100);"></div>
    <div style="background: var(--c-main-200);"></div>
    <div style="background: var(--c-main-300);"></div>
    <div style="background: var(--c-main-400);"></div>
    <div style="background: var(--c-main-500);"></div>
    <div style="background: var(--c-main-600);"></div>
    <div style="background: var(--c-main-700);"></div>
    <div style="background: var(--c-main-800);"></div>
    <div style="background: var(--c-main-900);"></div>
</div>

<div class="u-displayFlex palette" style="flex-direction:row-reverse;">
    <div style="background: var(--c-accent-100);"></div>
    <div style="background: var(--c-accent-200);"></div>
    <div style="background: var(--c-accent-300);"></div>
    <div style="background: var(--c-accent-400);"></div>
    <div style="background: var(--c-accent-500);"></div>
    <div style="background: var(--c-accent-600);"></div>
    <div style="background: var(--c-accent-700);"></div>
    <div style="background: var(--c-accent-800);"></div>
    <div style="background: var(--c-accent-900);"></div>
</div>