---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

<div class="u-displayFlex">
    <div style="width: 30px; height: 30px; background: var(--c-grey-100);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-200);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-300);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-400);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-500);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-600);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-700);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-800);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-grey-900);"></div>
</div>

<div class="u-displayFlex">
    <div style="width: 30px; height: 30px; background: var(--c-main-100);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-200);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-300);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-400);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-500);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-600);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-700);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-800);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-main-900);"></div>
</div>

<div class="u-displayFlex">
    <div style="width: 30px; height: 30px; background: var(--c-accent-100);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-200);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-300);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-400);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-500);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-600);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-700);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-800);"></div>
    <div style="width: 30px; height: 30px; background: var(--c-accent-900);"></div>
</div>