---
layout: layouts/base.njk
section: page
ownstyles: []
---
<header class="{{ utilities.bigboi }}">
    <div class="{{ utilities.bigboiContent }}">
        {% if backlink %}<p class="u-textSmall"><span aria-hidden="true">&larr;</span> <a href="{{ backlink.url }}">{{ backlink.label }}</a></p>{% endif %}
        <h1>{{ displayTitle or title }}</h1>
        {% if subtitle %}<p class="u-displayInlineBlock u-marginInlineEnd | u-c--grey-min u-fontBold">{{ subtitle }}</p>{% endif %}
    </div>
</header>

<section class="u-flow">{{ layoutContent | safe }}</section>