---
layout: layouts/base.njk
section: page
---
<header class="{{ utilities.bigboi }}">
    <div class="{{ utilities.bigboiContent }}">
        <h1>{{ title }}</h1>
        {% if subtitle %}<p class="u-displayInlineBlock u-marginInlineEnd | u-c--primary-med u-fontBold">{{ subtitle }}</p>{% endif %}
    </div>
</header>

<section class="u-flow">{{ layoutContent | safe }}</section>