---
layout: layouts/base.njk
section: post
mainClasses: .
---

<article class="content u-flow">
	<header class="{{ utilities.bigboi }} content-full">
		<div class="{{ utilities.bigboiContent }}">
			<p class="u-c--primary-med u-fontBold"><time datetime="{{ date | machineDate }}">{{ date | date(dateFormat, locale) }}</time></p>

			<h1 id="{{ title | slug }}">{{ title }}</h1>
		</div>
	</header>

	{% if original %}
	<p class="u-paddingInline u-paddingBlock u-border--double u-border--primary-med u-bg--grey-max">
		{# <span aria-hidden="true">&rarr;</span> #}
		<span class="u-fontItalic">{{ localisedContent.original }}{{ punctSp }}:</span>
		<a href="{{ original | url }}" rel="nofollow"><span class="u-fontBold">{{ originalTitle or original }}</span></a>
	</p>
	{% endif %}

	{{ layoutContent | safe }}

	{% if externalUrl %}
	<p class="u-marginBlockStart--double">
		<a href="{{ externalUrl }}" class="u-displayInlineFlex u-padding u-textDecoration--none u-border--double u-border--secondary-med u-bg--grey-max h:u-c--grey-max h:u-bg--secondary-med u-fontBold u-textLarge u-lineHeight--1">
		{{ localisedContent.external }} {{ externalHost or externalUrl }}
		<svg class="u-displayInlineBlock u-marginInlineStart--half u-width--1em" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M13 17l5-5-5-5M6 17l5-5-5-5"/></svg>
		</a>
	</p>
	{% endif %}

	<hr>

	{% if tags %}
	<nav>
		<h2 class="u-displayInline u-fontBody u-fontBold u-textNormal u-c--color-text">{{ localisedContent.tagged }}{{ punctSp }}:</h2>
		<ul class="u-displayInline">
		{% for tag in tags %}
			{%- if tag != "post" -%}
			{%- set tagUrl %}/tags/{{ localeRoot }}{{ tag }}/{% endset -%}
			<li class="u-displayInline"><a href="{{ tagUrl | url }}" rel="tag" class="u-displayInlineBlock u-paddingBlock--quarter u-paddingInline--half {{ utilities.glowBoxLink }}">{{ tag }}</a></li>
			{%- endif -%}
		{% endfor %}
		</ul>
	</nav>
	{% endif %}

	<div class="u-textSmall">
		<a href="{{ metadata.repo }}/blob/master/{{ page.inputPath }}" class="u-displayInlineFlex u-flex--center u-paddingBlock--quarter u-paddingInline--half {{ utilities.glowBoxLink }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="u-displayInlineBlock u-width--1em u-marginInlineEnd--half" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg>
			{{ localisedContent.fixErrorPR }}
		</a>
	</div>
</article>