---
layout: layouts/base.njk
section: post
mainClasses: u
---

<article class="content u-flow">
  <header>
    <h1 id="{{ title | slug }}">{{ title }}</h1>

    <p class="u-c--primary-med u-fontBold"><time datetime="{{ date | machineDate }}">{{ date | date(dateFormat, locale) }}</time></p>

    {# <div class="u-sep u-bg--primary-med u-marginBlockStart" aria-hidden="true"></div> #}
  </header>

  {% if original %}
    <p class="u-paddingInline u-paddingBlock--half u-border u-bg--secondary-max">
      {# <span aria-hidden="true">&rarr;</span> #}
      <span class="u-fontItalic">{{ localisedContent.original }}{{ punctSp }}:</span>
      <a href="{{ original | url }}" rel="nofollow"><span class="u-fontBold">{{ originalTitle or original }}</span></a>
    </p>
  {% endif %}

  {{ layoutContent | safe }}

  {% if externalUrl %}
    <p class="u-marginBlockStart--double">
      <a href="{{ externalUrl }}" class="u-paddingBlock--half u-paddingInline u-textDecoration--none u-c--grey-max u-bg--grey-min h:u-c--grey-max h:u-bg--secondary-med u-lineHeight--1">
        <span class="u-flex--alignSelfEnd u-fontBold">{{ localisedContent.external }} {{ externalHost or externalUrl }}</span>
      </a>
    </p>
  {% endif %}

  <hr>

  {% if tags %}
    <p>
    <span class="u-fontBold">{{ localisedContent.tagged }}{{ punctSp }}:</span>
    {% set comma = joiner() %}
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {%- set tagUrl %}/tags/{{ localeRoot }}{{ tag }}/{% endset -%}
        {# {{- comma() }} #}
        <a href="{{ tagUrl | url }}" rel="tag" class="u-inlineBlock u-padding--quarter u-fontBold u-border h:u-c--primary-med u-bg--grey-max u-textDecoration--none">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>