@import "utilities/a11y";
@import "utilities/font-specimen";

:root {
    --palette-01: #fff8fc;
    --palette-02: #b5e5f8;
    --palette-03: #180e30;
    --palette-04: #2d4f79;
    --palette-05: #973e26;
    --palette-06: #dda969;
    --palette-07: #ecd237;
    --body-font: Roboto, Helvetica, Arial, sans-serif;
    --color-main: var(--palette-01);
    --color-alt: var(--palette-02);
    --bg-main: var(--palette-03);
    --bg-alt: var(--palette-04);
    --link: var(--palette-07);
    --link-active: var(--palette-06);
}

h1 {
    font-size: 8rem;
    font-size: clamp(4rem, calc(4rem + (8 - 4) * ((100vw - 20rem) / (64 - 20))), 8rem);
    line-height: 1;
}

h2 {
    position: relative;

    line-height: 1.2;

    &::before {
        content: '⬡';

        position: absolute;
        top: 0;
        left: -1.125em;

        width: 0.75em;
        height: 1em;
        
        line-height: 1;
    }
}

svg {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;

    & > li::marker {
        content: '⬢ \0020';
    }
}

li + li {
    margin-top: 0.75em;
}

.main-heading-block {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-heading-bg {
    position: relative;

    width: 75%;
    max-width: 32rem;
    max-width: min(32rem, 50vw);
    height: auto;
    margin: auto;
}

.cogwheel {
    width: 100%;

    @media (prefers-reduced-motion: no-preference) {
        animation: revealScale 1s cubic-bezier(0.215, 0.610, 0.355, 1) 1;    
    }
}

.cogwheel * {
    fill: none;
    stroke: var(--color-main);
    stroke-width: 1.5;
}

.cogwheel-rings {
    transform-origin: 50% 50%;

    @media (prefers-reduced-motion: no-preference) {
        animation: cogwheelRing 60s linear infinite;
    }
}

@keyframes cogwheelRing {
    to { transform: rotate(360deg); }
}


.lombax-silhouette {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 50%;
    margin: auto;

    fill: currentColor;
    stroke: var(--bg-main);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
    paint-order: stroke;

    @media (prefers-reduced-motion: no-preference) {
        animation: revealUpwards 1s cubic-bezier(0.215, 0.610, 0.355, 1) 500ms 1 backwards;
    }
}

.main-heading-text {
    position: relative;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.main-heading-title {
    margin: 2rem auto 0;

    line-height: 1;
}

.main-heading-sub {
    &::before,
    &::after {
        content: '⬢';

        display: inline-block;

        font-size: 0.75em;
        font-style: normal;
        vertical-align: 0.25em;
        color: var(--color-alt);
    }

    &::before { padding-right: 1em; }
    &::after { padding-left: 1em; }
}

.preview-input-wrap {
    font-size: 1.5em;

    label { font-weight: bold; }
    
    input[type="text"],
    button {
        padding: 0.25em;
        
        font: inherit;
        color: var(--bg-alt, black);
        border: 2px solid var(--bg-main, black);
        border-radius: 4px;
        background: var(--color-alt, white);

        &:focus {
            outline: 2px solid var(--color-alt, yellow);
        }
    }

    button {
        padding: 0.25em 1.5em;

        text-transform: uppercase;

        text-shadow: 0 1px 0 var(--palette-01);
        background: var(--palette-02);
        box-shadow:
            inset 0 0 0 2px var(--color-alt, white),
            inset 0 0 0 4px var(--bg-main, black),
        ;
    }
}

.preview-option {
    input[type="checkbox"] + label::before {
        border-radius: 2px;
    }
}

[xlink\:href="#sample-text"][stroke] { user-select: none; }

.specimen { font-weight: 400; }
.specimen-set-demo { font-size: 3rem; }

.full,
.footer {
    color: var(--color-main);
    background-color: var(--bg-alt);
}

@media screen and (min-width: #{ $content-max + $gutter * 4 }) {
    .full {
        background-image: url(./bg-gutter.png), url(./bg-gutter.png);
        background-size: #{ $gutter } auto;
        background-repeat: repeat-y;
        background-position:
            calc(50% - #{ $content-max * -.5 - $gutter * 2 }) 0,
            calc(50% + #{ $content-max * -.5 - $gutter * 2 }) 0;
        
        @media (prefers-reduced-motion: no-preference) {
            background-attachment: fixed;
        }
    }
}

.download-button {
    --dl-button-depth: 0.5rem;
    --dl-button-offset: 0px;

    position: relative;

    padding: 0.5em 2em;

    font-weight: bold;
    text-decoration: none;
    color: var(--palette-01);
    text-shadow: 0 1px 0 var(--palette-07), 0 -1px 0 var(--palette-05);
    border-radius: 4px;

    transform: translateY(var(--dl-button-offset, 0px));

    @media (prefers-reduced-motion: no-preference) {
        transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        border-radius: inherit;

        transition: inherit;
        clip-path: polygon(
            0 50%,
            1em 0,
            calc(100% - 1em) 0,
            100% 50%,
            calc(100% - 1em) 100%,
            1em 100%
        );
    }

    &::before { // Button Face
        z-index: -1;

        background: var(--palette-06);
        box-shadow: inset 0 -1px 4px rgba(255,255,255,0), inset 0 -0.25em 2em rgba(0,0,0,0.25);
    }

    &::after { // Button Depth
        z-index: -2;

        background: var(--palette-07) linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
        box-shadow: inset 0 calc(var(--dl-button-depth) * -1) calc(var(--dl-button-depth) * 2) rgba(0,0,0,0.25);

        transform: translateY(calc(var(--dl-button-depth) + var(--dl-button-offset) * -1));
    }
    
    &:hover,
    &:focus {
        --dl-button-offset: calc(var(--dl-button-depth) * 0.5);
        
        color: var(--palette-01);
    }
    
    &:focus {
        outline: 4px dashed var(--palette-07);
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:active {
        --dl-button-offset: var(--dl-button-depth);
    }
}

@keyframes revealScale {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes revealUpwards {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
}