$about-delorean-transition-duration: 800;

.about {
    /* Square image variables */
    $box-projection: ( // Coordinates of points projected past their container to obtain diagonal reveals (45deg in a square)
        'bottom-left':  (   0 -100%,  200%  100%,    0   200%, -100%  100%),
        'bottom-right': (-100% 100%,  100% -100%,  200%  100%,  100%  200%),
        'top-left':     ( 200% 100%,  100%  200%, -100%  100%,  100% -100%),
        'top-right':    ( 100% 200%, -100%    0 ,    0  -100%,  200%  100%),
    );
    $profile-image-border-size: .125rem;
    $profile-image-anim-time: 1.625;
    $profile-image-anim-delay: .25;
    
    /* SVG illustration variables */
    $profile-anim-line-delay: .2s;
    $profile-anim-line-duration: .6s;
    $profile-anim-path-delay: $profile-anim-line-delay + $profile-anim-line-duration * .625;
    $profile-anim-path-duration: 1.25s;
    $profile-anim-hair-delay: $profile-anim-path-delay + $profile-anim-path-duration * .75;
    $profile-anim-hair-duration: 1s;
    $profile-anim-glasses-delay: $profile-anim-hair-delay + $profile-anim-hair-duration * .5;
    $profile-anim-glasses-duration: .5s;

    $profile-anim-ladyliberty-delay: $profile-anim-hair-delay;
    $profile-anim-ladyliberty-duration: 1s;

    &__profile {
        width: 6rem;
        max-width: 20vw;

        // shape-margin: #{ $spacing };
        // shape-outside: ellipse(100% 50% at 100% 50%);

        &::after {
            content: '';
            position: absolute;
            top: #{ $spacing * -1 };
            bottom: #{ $spacing * -1 };
            right: 0;

            // width: .0625em;
            width: .125em;
            
            background-color: currentColor;

            transform-origin: 50% 100%;
            animation: about__lineDraw #{ $profile-anim-line-duration } #{ $easing-smooth } #{ $profile-anim-line-delay } backwards 1;
        }

        &-path path {
            fill: none;
            stroke: currentColor;
            stroke-width: 2;
            stroke-dasharray: 1 1;

            animation: about__pathDraw #{ $profile-anim-path-duration } #{ $easing-smooth } #{ $profile-anim-path-delay } backwards 1;
        }

        &-hair path {
            fill: none;
            stroke: var(--c-primary-med);
            stroke-linecap: round;
            stroke-dasharray: 1 1;

            animation: about__hairGrow #{ $profile-anim-hair-duration } #{ $easing-smooth } #{ $profile-anim-hair-delay } backwards 1;
        }

        &-glasses {
            fill: var(--c-primary-min);
            animation: about__glasses #{ $profile-anim-glasses-duration } #{ $easing-out } #{ $profile-anim-glasses-delay } backwards 1;
        }

        &-hair--brow {
            transform-origin: 50% 50%;
            transition: transform .25s ease-in-out;
        }

        &:hover &-hair--brow {
            transform: translateY(-2%) rotate(3deg);
            // animation: about__browTwitch .5s ease-in-out 1;
        }
    }

    @keyframes about__lineDraw {
        0% {
            transform: scaleY(0);
        }
    }

    @keyframes about__pathDraw {
        0% {
            stroke-dashoffset: 1;
        }
    }

    @keyframes about__hairGrow {
        0% {
            stroke-width: 0;
            stroke-dashoffset: 1;
        }
    }

    @keyframes about__glasses {
        0% {
            opacity: .0001;
            transform: translateY(-15%);
        }
    }

    /* // Square image animation
    &__image {
        --proj-xy1: #{ nth( map-get($box-projection, 'bottom-left'), 1) };
        --proj-xy2: #{ nth( map-get($box-projection, 'bottom-left'), 2) };
        --proj-xy3: #{ nth( map-get($box-projection, 'bottom-left'), 3) };
        --proj-xy4: #{ nth( map-get($box-projection, 'bottom-left'), 4) };
        
        padding: #{ $profile-image-border-size };

        &::before,
        &::after {
            padding: inherit;
        }

        &::before {
            --proj-xy1: #{ nth( map-get($box-projection, 'bottom-right'), 1) };
            --proj-xy2: #{ nth( map-get($box-projection, 'bottom-right'), 2) };
            --proj-xy3: #{ nth( map-get($box-projection, 'bottom-right'), 3) };
            --proj-xy4: #{ nth( map-get($box-projection, 'bottom-right'), 4) };

            background: var(--c-secondary-med) content-box;
        }

        &::after {
            --proj-xy1: #{ nth( map-get($box-projection, 'top-right'), 1) };
            --proj-xy2: #{ nth( map-get($box-projection, 'top-right'), 2) };
            --proj-xy3: #{ nth( map-get($box-projection, 'top-right'), 3) };
            --proj-xy4: #{ nth( map-get($box-projection, 'top-right'), 4) };

            background: var(--c-primary-max) content-box;
        }

        & > img {
            width: 8rem;
            max-width: 30vw;

            --proj-xy1: #{ nth( map-get($box-projection, 'top-left'), 1) };
            --proj-xy2: #{ nth( map-get($box-projection, 'top-left'), 2) };
            --proj-xy3: #{ nth( map-get($box-projection, 'top-left'), 3) };
            --proj-xy4: #{ nth( map-get($box-projection, 'top-left'), 4) };
        }
        
        @supports(clip-path: polygon(var(--a))) {
            &--loaded,
            &--loaded::before,
            &--loaded::after,
            &--loaded > img {
                animation: about__profilePicture #{ $profile-image-anim-time * 1s } #{ $easing-smooth } 1 forwards;
            }

            &--loaded::before { animation-delay: #{ $profile-image-anim-delay * .5s }; }
            &--loaded::after { animation-delay: #{ $profile-image-anim-delay * 1s }; }
            &--loaded > img { animation-delay: #{ $profile-image-anim-delay * 1.5s }; }

            &,
            &::before,
            &::after,
            & > img {
                clip-path: polygon(
                    var(--proj-xy1),
                    var(--proj-xy2),
                    var(--proj-xy2),
                    var(--proj-xy1)
                );
            }
        }

        @keyframes about__profilePicture {
            100% {
                clip-path: polygon(
                    var(--proj-xy1),
                    var(--proj-xy2),
                    var(--proj-xy3),
                    var(--proj-xy4)
                );
            }
        }
    } // */ // End:Square image animation
}

.about__trinket {
    overflow: visible;
    
    &-stroke > * {
        fill: none;
        stroke: currentColor;
        stroke-width: 1.5;
        stroke-miterlimit: 10;
    }

    &-stroke--thick {
        stroke-width: 2.5;
    }

    &-stroke--round {
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    &-fill > * {
        fill: currentColor;
    }
}

.about__delorean {
    width: 28rem;
    pointer-events: none;

    &-hook {
        transition-property: opacity, transform;
        transition-duration: #{ $about-delorean-transition-duration * 1ms };
        transition-timing-function: #{ $easing-steep };
    }
    
    &:not(&--with-hook) &-hook {
        transform: translate(-4rem, -4rem);
        opacity: 0;
    }
}
.about__keyboard {
    width: 14rem;
    max-width: 30vw;
}
.about__headphones { width: 6rem; }