.about {
    &__image {
        $border-size: .125rem;
        border: #{ $border-size } solid var(--c-min);

        &::before {
            background: var(--c-primary-med);
        }

        &,
        &::before,
        > img {
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        }

        > img {
            width: 8rem;
            max-width: 30vw;
        }

        &--loaded,
        &--loaded::before,
        &--loaded > img {
            animation: about__profilePicture .5s #{ $easing-out } 1 forwards;
        }

        &--loaded::before {
            animation-delay: .25s;
        }
        &--loaded > img {
            animation-delay: .5s;
        }
    }

    &__download {
        width: 1.25em;
        height: 1.25em;
    }
}

@keyframes about__profilePicture {
    100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}