.bigboi {
    $grid-line-width: 1.5px;

    background-image:
        linear-gradient(var(--c-secondary-med) #{ $grid-line-width }, transparent #{ $grid-line-width }),
        linear-gradient(90deg, var(--c-secondary-med) #{ $grid-line-width }, transparent #{ $grid-line-width });
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: 2rem 2rem;
    outline: .1em solid var(--c-max);

    &::before {
        background-color: inherit;
        opacity: .8;
    }

    &::after {
        background: radial-gradient(ellipse at center, transparent, var(--currentBackground) 80%);
    }

    &-content {
        max-width: $container-max-width-rem;
        margin: 0 auto;
    }
}