.callout {
    border-left: .11em solid var(--c-primary-med);
    background:
        linear-gradient(90deg, transparent, var(--currentBackground)) 100% 0 repeat-y,
        repeating-linear-gradient(var(--c-primary-med) 0, var(--c-primary-med) .11em, transparent .11em, transparent .33em) 0 0 repeat-x,
        linear-gradient(90deg, var(--c-primary-med), var(--currentBackground)) 0 100% no-repeat;
    background-size:
        100% 1.25em,
        100% 1.25em,
        100% .11em;

    html[lang="en"] &::before { content: "Note"; }
    html[lang="fr"] &::before { content: "N.B."; }
    &[data-callout][class]::before { content: attr(data-callout); } // If provided, override pseudo's text content

    &::before {
        position: absolute;
        top: -.25em;
        left: #{ $spacing };

        display: inline-block;
        padding: 0 #{ $spacing };
        
        font-family: f('heading');
        font-size: 1.75em;
        font-weight: 700;
        line-height: 1;
        letter-spacing: #{ $heading-font-letter-spacing };

        color: var(--c-primary-min);
        text-shadow:
            .1em    .1em    0 var(--currentBackground),
            .125em  .125em  0 var(--c-primary-med);
        background-color: var(--currentBackground);
    }
}