.content {
    $max: $container-max-width-em;
    $wide-max: $wide-content-max-width-em;
    $gutter: $spacing * 2;
    $column-width: $max - ($gutter * 2);

    display: grid;
    grid-template-columns:
        [fullbleed-start]
            minmax(#{ $spacing }, 1fr)
        [wide-start]
            minmax(#{ $spacing }, 1fr)
        [container-start]
            minmax(0, calc(#{ $max } - #{ $gutter * 2 }))
        [container-end]
            minmax(#{ $spacing }, 1fr)
        [wide-end]
            minmax(#{ $spacing }, 1fr)
        [fullbleed-end]
    ;

    > * {
        grid-column: container-start / container-end;
    }
    
    &--wide {
        grid-column: wide-start / wide-end;
    }

    &--full {
        grid-column: fullbleed-start / fullbleed-end;
    }

    &--wide-limited {
        max-width: $wide-max;
        margin-left: auto;
        margin-right: auto;
    }
}

// Define common styles for Prism and Codepen blocks, that will be oversized beyond the main container
pre[class*="language-"],
.cp_embed_wrapper {
    @extend .content--wide;
}

pre[class*="language-"] code,
.cp_embed_iframe {
    @extend .content--wide-limited;
}