.content {
    $max: $container-max-width-em;
    $wide-max: $wide-content-max-width-em;
    $gutter: $spacing * 2;
    $column-width: $max - ($gutter * 2);

    display: grid;
    grid-template-columns:
        minmax(#{ $spacing }, 1fr)
        minmax(#{ $spacing }, 1fr)
        minmax(0, calc(#{ $max } - #{ $gutter * 2 }))
        minmax(#{ $spacing }, 1fr)
        minmax(#{ $spacing }, 1fr)
    ;


    > * {
        grid-column: 3;
    }

    &--full {
        grid-column: 1 / 6;
    }

    &--wide {
        grid-column: 2 / 5;
    }

    &--wide-limited {
        max-width: $wide-max;
        margin-left: auto;
        margin-right: auto;
    }
}

// Define common styles for Prism and Codepen blocks, that will be oversized beyond the main container
pre[class*="language-"],
.cp_embed_wrapper {
    @extend .content--wide;
}

pre[class*="language-"] code,
.cp_embed_iframe {
    @extend .content--wide-limited;
}