.filtering-list {
    & input[type="radio"]:hover + label {
        color: var(--c-grey-max);
        background: var(--c-grey-min);
    }

    & input[type="radio"]:focus-visible + label {
        outline: 4px dashed var(--c-grey-min);
    }

    & input[type="radio"]:checked + label {
        color: var(--c-grey-max);
        background: var(--color-accent);
    }
}

[data-filtered-item] {
    &[aria-hidden="true"] {
        @extend .visually-hidden;

        visibility: hidden;
        pointer-events: none;
    }

    @media (prefers-reduced-motion: no-preference) {
        transform-origin: 50% -25%;
        will-change: transform;

        transition: 250ms #{ $easing-out };
        transition-property: filter, opacity, transform;
        transition-duration: var(--t, 250ms);
        transition-delay: var(--d, 5ms);

        [data-filtered-list="change"] & {
            filter: grayscale(1) blur(12px);
            opacity: 0;
            transform: scale(0.9);
        }
    }
}