.header {
    outline: .125em solid var(--c-comp-med);

    &__logo {
        width: auto;
        height: $header-brand-height;

        &-path {
            fill: var(--c, currentColor);
        }
    }
}