.header {
    // outline: .125em solid var(--c-secondary-med);

    &__svg {
        width: auto;
        height: $header-brand-height;
    }

    &__logo {
        &-path {
            fill: var(--c, currentColor);
        }
    }
}