.homescreen {
    min-height: calc(100vh - #{ $header-expected-height }); // Take up the whole screen, minus menu

    &__wrapper {
        $outline-size: .5rem;

        &::after {
            border: #{ $outline-size } solid var(--c-primary-med);
            pointer-events: none;
        }
    }

    &__background {
        // Canvas fallback
        background-image: url(https://i.pinimg.com/originals/5b/17/b2/5b17b2b4f26aa523dca15fbf902223b4.jpg); // PLACEHOLDER
        background-size: cover;
        background-position: 50% 50%;
    }

    &__scene {
        background-color: var(--c-primary-max);
    }

    &__svg-wrapper {
        > svg {
            width: 60rem;
        }
    }
}
