.homescreen {
    min-height: calc(100vh - #{ $header-expected-height }); // Take up the whole screen, minus menu

    &__wrapper {
        $outline-size: .5rem;

        &::after {
            border: #{ $outline-size } solid var(--c-primary-med);
            pointer-events: none;
        }
    }

    &__background {
        // Canvas fallback
        background-image: url(https://i.pinimg.com/originals/5b/17/b2/5b17b2b4f26aa523dca15fbf902223b4.jpg); // PLACEHOLDER
        background-size: cover;
        background-position: 50% 50%;
    }

    &__scene {
        $grad1: #0a0634;
        $grad2: #791e74;
        background:
            radial-gradient(circle at 50% 100%,
                #{ c('primary', 'med', 25) } calc(33% - 2rem),
                #{ c('primary', 'med', 0) } calc(33% + 4rem)
            ) no-repeat 50% 0 / 100% 50%,

            linear-gradient(
                #{ $grad1 } 0%,
                #{ $grad2 } 40%,
                #{ mix( $grad2, c('primary', 'med'), 25% ) } 50%,
                #{ c('primary', 'max') } 50%,
                #3c0328 100%
            );
        background-color: c('primary', 'max'); // Hardcode since we don't want this to be affected by colour schemes
    }

    &__svg-wrapper {
        > svg {
            width: 60rem;
        }
    }
}
