.homescreen {
    min-height: calc(100vh - #{ $header-expected-height }); // Take up the whole screen, minus menu

    &__wrapper {
        $outline-size: .5rem;

        &::after {
            border: #{ $outline-size } solid var(--c-main-med);
            pointer-events: none;;
        }
    }

    &__background {
        // Canvas fallback
        background-image: url(https://i.pinimg.com/originals/5b/17/b2/5b17b2b4f26aa523dca15fbf902223b4.jpg); // PLACEHOLDER
        background-size: cover;
        background-position: 50% 50%;
    }

    &__svg-wrapper {
        > svg {
            width: 60rem;
        }
    }

    &__name-shineOver {
        animation: shineOver 1.75s linear 1.75s 1 both;
    }

    @keyframes shineOver {
        0% { transform: translateX(150%); }
        50% { opacity: 1; }
        100% { transform: translateX(-150%); }
    }

    &__title-blink {
        animation: underscoreBlink 1.75s steps(1) infinite both;
    }

    @keyframes underscoreBlink {
        0% { opacity: 0; }
        50% { opacity: 1; }
    }
}

.svg-mark {
    &__group {
        animation-name: svgMarkTransform;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &__chris-group {
        opacity: 0;
        transform: scale(0.01, 0.01);
        animation-duration: 1.25s;
        animation-delay: 1s;
        animation-timing-function: ease;
    }

    &__kirknielsen-group {
        opacity: 0;
        transform: translate(-8%, 25%);
        animation-duration: .75s;
        animation-delay: 1.5s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    &__creativedeveloper-group {
        opacity: 0;
        transform: translate(50%, 0);
        animation-duration: 1.5s;
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    &__glare-group {
        transform-origin: 0 0;
        transform: translate(76%, 34.25%) rotate(30deg); // Translate coordinate are hard-coded based on SVG viewBox
    }
    &__glare {
        transform: scale(0, 0) rotate(-270deg);
        animation-duration: 1s;
        animation-delay: 2.5s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    @keyframes svgMarkTransform {
        100% {
            opacity: 1;
            transform: none;
        }
    }
}