.nav {
    $p: &;
    
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: z('nav', 0);

    &__list {
        z-index: z('nav', 1);
    }

    $nav-color-map: (
        c('green'),
        c('blue'),
        c('red'),
        c('grass'),
        c('orange'),
        c('purple')
    );

    &__item {
        flex: 1;
        margin-top: 0;

        text-align: center;

        @for $i from 1 through length($nav-color-map) {
            $c: nth($nav-color-map, $i);
            &:nth-child(#{$i}) > #{$p}__link::before {
                background: #{$c};
            }
        }
    }

    &__link {
        display: block;
        padding: #{$menu-item-padding} 0;

        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 1rem c('dark');

        &::before {
            opacity: 0;
            transform: scaleX(0);
            transition-property: opacity, transform;
            transition-duration: $menu-transition-time;
            transition-timing-function: #{$easing-out};
        }

        &:hover,
        &:focus {
            &::before {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }
}

@include below-large {
    .nav-button {
        &,
        &:hover,
        &:active,
        &:focus {
            height: inherit;
            border: none;
            border-radius: 0;
            transform: none;
        }

        &:focus {
            outline: 4px solid c('green');
        }

        &__icon {
            width: $menu-icon-box-size;
            height: $menu-icon-box-size;

            fill: none;
            stroke: currentColor;
            stroke-width: 2;

            &,
            &--path {
                transform-origin: 50% 50%;
                transition: transform #{$menu-transition-time * 1.5} #{$easing-bounce};
            }
        }
        
        &__text {
            margin-left: #{$spacing / 2};
            // margin-inline-start: #{$spacing / 2};
            font-size: 1.25em;
            text-transform: uppercase;
        }
    }

    .nav.nav--hasJS {
        overflow: visible;
        height: $menu-item-height;

        > .nav-button {
            position: relative;
            z-index: z(nav, 3);
    
            cursor: pointer;
        }

        .nav__item {
            z-index: z(nav, 2);

            transition: margin-top #{$menu-transition-time} #{$easing};
            transform: translate3d(0,0,0);
        }

        &[aria-expanded="false"] {
            .nav__item {
                margin-top: #{$menu-item-height * -1};
            }
        }

        &[aria-expanded="true"] {
            .nav__item {
                margin-top: 0;
            }

            .nav-button__icon {
                transform: rotate(135deg);

                &--circle {
                    transform: scale(0);
                }
    
                &--ns {
                    transform: scaleX(2);
                }

                &--we {
                    transform: scaleY(2);
                }
    
                &--nesw,
                &--nwse {
                    transform: rotate(45deg) scale(0);
                }
            }
        }
    }

    .nav__item {
        height: $menu-item-height;

        border-top: 1px solid c('grey');
    }

    .nav__link {
        display: flex !important;
        align-items: center;

        text-align: left;

        &::before {
            content: none !important;
        }
    }
}