.pagination {
    $p: &;

    &__item {
        &:first-child {
            border-radius: #{$spacing / 2} 0 0 #{$spacing / 2};
        }
        &:last-child {
            border-radius: 0 #{$spacing / 2} #{$spacing / 2} 0;
        }

        &:not(:last-child) {
            margin-right: 1px;
            // margin-inline-end: 1px;
        }
    }

    &__link {
        min-width: 2em;
        
        border-radius: inherit;

        &:focus {
            position: relative;
            z-index: 1;
        }
    }
}