.card { // Article card
    overflow: hidden;

    &__side {
        justify-content: space-between;
        padding: #{$spacing / 4} #{$spacing / 2};
        background-color: c('lightgray');
    }

    &__date--day,
    &__date--monthyear {
        display: none;
    }

    &__emoji {
        margin-left: auto;
        text-align: right;
    }
}

@include below-large {
    .card {
        border-radius: #{$spacing / 2};

        @supports (object-fit: cover) {
            &__image {
                max-height: $article-image-y;
                object-fit: cover;
            }
        }

        &__text {
            // background-color: c('light');
            box-shadow: inset 0 0 #{$spacing} #{$spacing / 2} c('light');
        }
    }
}

@include above-large {
    .card {
        $p: &;

        transition-timing-function: cubic-bezier(1, 0, 1, 1);
        
        &__content {
            flex: 0 0 auto;
            order: 1;
            width: $article-image-x;
            height: $article-image-y;

            color: c('white');
            background-color: c('black');
            border-radius: 0 #{$spacing / 2} #{$spacing / 2} #{$spacing / 2};

            &:hover > #{$p}__image,
            &:focus > #{$p}__image {
                opacity: .25;
            }
        }

        &__image {
            position: absolute;
            left: 0;
            top: 0;

            transition-property: opacity;
            transition-duration: #{$article-transition-time};
            transition-timing-function: ease-in-out;
        }
        
        &__title {
            flex: 0 0 auto;

            text-shadow: 1px 1px 2px c('black');
            background: linear-gradient( to bottom, smooth-gradient('black', 85) ) !important;
        }

        &__text {
            flex: 1 1 auto;

            font-size: .875rem;
            text-shadow: 1px 1px 1px c('black', 80)
        }
        
        &__text,
        &__more {
            transform: translateY(100%);
            transition-property: transform;
            transition-duration: #{$article-transition-time};
        }
        
        &__content:hover,
        &__content:focus {
            > #{$p}__text,
            > #{$p}__more {
                transform: translateY(0);
                transition-timing-function: cubic-bezier(0, 0, 0, 1);
            }
        }
        
        &__side {
            flex: 1 1 auto;
            order: -1;
            flex-direction: column;

            padding: 0;

            background-color: transparent;
        }
        
        &__date,
        &__date--day,
        &__date--monthyear,
        &__emoji {
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
        }
        
        &__date {
            background-color: c('green');
            border-radius: #{$spacing / 2} 0 0 #{$spacing / 2};

            &--full {
                display: none;
            }

            &--day {
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: $spacing;
                    right: $spacing;
                    
                    height: 1px;

                    background-color: currentColor;
                }
            }
        }
        
        &__emoji {
            text-align: center;
            font-size: 2rem;
        }
        
        &__more {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.post {
    &__purchaseLink {
        @include above-large {
            float: right;
        }
    }
}