.svg-mark {
    &__group {
        animation-name: svgMarkTransform;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &__chris-depth {
        animation-fill-mode: backwards;
        animation-direction: reverse;
        animation-duration: 1.25s;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0, 0, 1, 0);
    }

    &__chris-group {
        opacity: 0;
        transform: scale(.8);
        animation-duration: 1.25s;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    &__kirknielsen-group {
        opacity: 0;
        transform: translate(-8%, 25%);
        animation-duration: .75s;
        animation-delay: 1.5s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    &__creativedeveloper-group {
        opacity: 0;
        transform: translate(25%, 0);
        animation-duration: 1.5s;
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    &__glare-group {
        transform-origin: 0 0;
        transform: translate(76%, 34.5%) rotate(30deg); // Translate coordinate are hard-coded based on SVG viewBox
    }
    &__glare {
        transform: scale(0, 0) rotate(-270deg);
        animation-duration: 1s;
        animation-delay: 2.5s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    @keyframes svgMarkTransform {
        100% {
            opacity: 1;
            transform: none;
        }
    }



    &__name-shineOver {
        animation: shineOver .75s linear 3.75s 1 both;
    }

    &__name-shineOver--delayed {
        animation-delay: 3.5s;
    }

    @keyframes shineOver {
        0% { transform: translateX(75%); opacity: 0; }
        1% { opacity: 1; }
        99% { opacity: 1; }
        100% { transform: translateX(-75%); opacity: 0; }
    }
}
