---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - language
    - nav
    - post
    - posts
permalink: /tags/{{localeRoot}}{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "{{ localisedContent.tagged }} “{{ tag }}”"
---

<header class="{{ utilities.bigboi }} u-breakout">
    <div class="{{ utilities.bigboiContent }}">
        <h1>{{ localisedContent.tagged }} “{{ tag }}”</h1>
    </div>
</header>

{% set postslist = collections[ tag ] | tagLocale(locale) %}
{% include "components/postslist.njk" %}
