/* Border */

.u-border { border: .0625em solid currentColor; }
.u-border--double { border: .125em solid currentColor; }


/* Border radius */

.u-radius { border-radius: #{ $spacing }; }
.u-radius--half { border-radius: #{ $spacing / 2 }; }
.u-radius--quarter { border-radius: #{ $spacing / 4 }; }
.u-radius--circle { border-radius: 50%; }