html { // Min is lightest during dusk, Max is darkest
    --c-min: #{ c('min') };
    --c-max: #{ c('max') };
    --c-alpha-lum: 100%;

    --c-grey-min: #{ c('grey', min) };
    --c-grey-med: #{ c('grey', med) };
    --c-grey-max: #{ c('grey', max) };

    --c-primary-min: #{ c('primary', min) };
    --c-primary-med: #{ c('primary', med) };
    --c-primary-max: #{ c('primary', max) };

    --c-secondary-min: #{ c('secondary', min) };
    --c-secondary-med: #{ c('secondary', med) };
    --c-secondary-max: #{ c('secondary', max) };

    --colour-bg: var(--c-primary-max);
    --colour-text: var(--c-grey-min);
    --colour-grey: var(--c-grey-med);
    --colour-primary: var(--c-primary-med);
    --colour-secondary: var(--c-secondary-med);

    --gradient-subtle: #{ gradient-stops($sc: c('min'), $sa: 0, $ec: c('min'), $ea: 0.05, $sp: 0%, $ep: 100%, $s: 4, $xb: false, $ease: 'in-out') };
}

html[data-scheme="dawn"] { // Min is darkest during dawn, Max is brightest
    --c-min: #{ c('max') };
    --c-max: #{ c('min') };
    --c-alpha-lum: 0%;
    
    --c-grey-min: #{ c('grey', max) };
    --c-grey-med: #{ c('grey', med) };
    --c-grey-max: #{ c('grey', min) };

    --c-primary-min: #{ c('primary', max) };
    --c-primary-med: #{ c('primary', med) };
    --c-primary-max: #{ c('primary', min) };

    --c-secondary-min: #{ c('secondary', max) };
    --c-secondary-med: #{ c('secondary', med) };
    --c-secondary-max: #{ c('secondary', min) };

    --colour-bg: var(--c-primary-max);
    --colour-text: var(--c-grey-min);
    // --colour-grey: var(--c-grey-med);
    --colour-primary: var(--c-primary-med);
    --colour-secondary: var(--c-secondary-med);

    --gradient-subtle: #{ gradient-stops($sc: c('max'), $sa: 0, $ec: c('max'), $ea: 0.05, $sp: 0%, $ep: 100%, $s: 4, $xb: false, $ease: 'in-out') };
}


/* Palette */
// Run through the palette for both color and background-color

@each $c in map-keys($colours) {
    @each $n in (min,med,max) {
        .u-c--#{$c}-#{$n},
        .h\:u-c--#{$c}-#{$n}:hover,
        .h\:u-c--#{$c}-#{$n}:focus {
            color: var(--c-#{$c}-#{$n});
            --c: var(--c-#{$c}-#{$n});
        }

        .u-bg--#{$c}-#{$n},
        .h\:u-bg--#{$c}-#{$n}:hover,
        .h\:u-bg--#{$c}-#{$n}:focus {
            background-color: var(--c-#{$c}-#{$n});
            --bg: var(--c-#{$c}-#{$n});
        }
    }
}


/* Background */

.u-bg--currentColor {
    background-color: currentColor;
    --bg: currentColor;
}


/* Border */

.u-border--grey-min {
    border-color: var(--c-grey-min);
}

.u-border--grey-med {
    border-color: var(--c-grey-med);
}


/* Box-shadow */

.u-inner-glow--secondary-med,
.h\:u-inner-glow--secondary-med:hover,
.h\:u-inner-glow--secondary-med:focus {
    box-shadow: inset 0 0 0 .0625em var(--c-secondary-med), inset 0 0 2em -1em var(--c-secondary-med);
}


/* Text-shadow */

.h\:text-shadow--currentBg:hover,
.h\:text-shadow--currentBg:focus {
    text-shadow: 0 0 .25em var(--bg);
}