/* Palette */
// Run through the palette for both color and background-color
    
// Since we use CSS custom properties instead of hardcoded values, we can run through a single colour scheme and get all the required colour keys and codes
$theme-colors: map-get($colors, "dusk");

@each $c in map-keys($theme-colors) {
    @each $n in (min, med, max) {
        .u-c--#{$c}-#{$n},
        .h\:u-c--#{$c}-#{$n}:hover,
        .h\:u-c--#{$c}-#{$n}:focus {
            color: var(--c-#{$c}-#{$n});
            --currentColor: var(--c-#{$c}-#{$n});
        }

        .u-bg--#{$c}-#{$n},
        .h\:u-bg--#{$c}-#{$n}:hover,
        .h\:u-bg--#{$c}-#{$n}:focus {
            background-color: var(--c-#{$c}-#{$n});
            --currentBackground: var(--c-#{$c}-#{$n});
        }
    }
}


/* Text */
.u-c--color-accent,
.h\:u-c--color-accent:hover,
.h\:u-c--color-accent:focus {
    color: var(--color-accent);
    --currentColor: var(--color-accent);
}

.u-c--color-text {
    color: var(--color-text);
    --currentColor: var(--color-text);
}


/* Background */

.u-bg--accent,
.h\:u-bg--accent:hover,
.h\:u-bg--accent:focus {
    background-color: var(--color-accent);
    --currentBackground: var(--color-accent);
}

// .u-bg--currentColor {
//     background-color: currentColor;
//     --currentBackground: currentColor;
// }


/* Border */

.u-border--transparent,
.h\:u-border--transparent:hover,
.h\:u-border--transparent:focus {
    border-color: transparent;
}

// .u-border--grey-min {
//     border-color: var(--c-grey-min);
// }

.u-border--grey-med {
    border-color: var(--c-grey-med);
}

.u-border--primary-med,
.h\:u-border--primary-med:hover,
.h\:u-border--primary-med:focus {
    border-color: var(--c-primary-med);
}

.u-border--secondary-med,
.h\:u-border--secondary-med:hover,
.h\:u-border--secondary-med:focus {
    border-color: var(--c-secondary-med);
}

.u-border--accent,
.h\:u-border--accent:hover,
.h\:u-border--accent:focus {
    border-color: var(--color-accent);
}


/* Box-shadow */

.u-glowBox--secondary-med,
.h\:u-glowBox--secondary-med:hover,
.h\:u-glowBox--secondary-med:focus {
    box-shadow:
        0 0 1.5em -.5em var(--c-secondary-med),
        inset 0 0 2em -1em var(--c-secondary-med);
}

.u-glowBox--accent,
.h\:u-glowBox--accent:hover,
.h\:u-glowBox--accent:focus {
    box-shadow:
        0 0 1.5em -.5em var(--color-accent),
        inset 0 0 2em -1em var(--color-accent);
}


/* Text-shadow */

.h\:textShadow--currentBg:hover,
.h\:textShadow--currentBg:focus {
    text-shadow: 0 0 .25em var(--currentBackground);
}