/* Palette */
// Run through the palette for both color and background-color

@each $t in map-keys($colors) {
    $theme-colors: map-get($colors, $t);
    @each $c in map-keys($theme-colors) {
        @each $n in (min,med,max) {
            .u-c--#{$c}-#{$n},
            .h\:u-c--#{$c}-#{$n}:hover,
            .h\:u-c--#{$c}-#{$n}:focus {
                color: var(--c-#{$c}-#{$n});
                --currentColor: var(--c-#{$c}-#{$n});
            }

            .u-bg--#{$c}-#{$n},
            .h\:u-bg--#{$c}-#{$n}:hover,
            .h\:u-bg--#{$c}-#{$n}:focus {
                background-color: var(--c-#{$c}-#{$n});
                --currentBackground: var(--c-#{$c}-#{$n});
            }
        }
    }
}


/* Text */
.u-c--color-text {
    color: var(--color-text);
    --currentColor: var(--color-text);
}


/* Background */

.u-bg--currentColor {
    background-color: currentColor;
    --currentBackground: currentColor;
}


/* Border */

.u-border--transparent,
.h\:u-border--transparent:hover,
.h\:u-border--transparent:focus {
    border-color: transparent;
}

.u-border--grey-min {
    border-color: var(--c-grey-min);
}

.u-border--grey-med {
    border-color: var(--c-grey-med);
}

.u-border--primary-med,
.h\:u-border--primary-med:hover,
.h\:u-border--primary-med:focus {
    border-color: var(--c-primary-med);
}

.u-border--secondary-med,
.h\:u-border--secondary-med:hover,
.h\:u-border--secondary-med:focus {
    border-color: var(--c-secondary-med);
}


/* Box-shadow */

.u-glowBox--secondary-med,
.h\:u-glowBox--secondary-med:hover,
.h\:u-glowBox--secondary-med:focus {
    box-shadow:
        0 0 1.5em -.5em var(--c-secondary-med),
        inset 0 0 2em -1em var(--c-secondary-med);
}


/* Text-shadow */

.h\:textShadow--currentBg:hover,
.h\:textShadow--currentBg:focus {
    text-shadow: 0 0 .25em var(--currentBackground);
}