$colour-weights: 100, 400, 900;

html { // Min is lightest during dusk, Max is darkest
    --c-min: #{ c('min') };
    --c-max: #{ c('max') };
    --c-alpha-lum: 100%;

    --c-grey-min: #{ c('grey', min) };
    --c-grey-med: #{ c('grey', med) };
    --c-grey-max: #{ c('grey', max) };

    --c-primary-min: #{ c('primary', min) };
    --c-primary-med: #{ c('primary', med) };
    --c-primary-max: #{ c('primary', max) };

    --c-secondary-min: #{ c('secondary', min) };
    --c-secondary-med: #{ c('secondary', med) };
    --c-secondary-max: #{ c('secondary', max) };

    --colour-bg: var(--c-grey-max);
    --colour-text: var(--c-grey-min);
    --colour-grey: var(--c-grey-med);
    --colour-primary: var(--c-primary-med);
    --colour-secondary: var(--c-secondary-med);

    --gradient-subtle: #{ gradient-stops($sc: c('min'), $sa: 0, $ec: c('min'), $ea: 0.05, $sp: 0%, $ep: 100%, $s: 4, $xb: false, $ease: 'in-out') };
}

html[data-scheme="dawn"] { // Min is darkest during dawn, Max is brightest
    --c-min: #{ c('max') };
    --c-max: #{ c('min') };
    --c-alpha-lum: 0%;
    
    --c-grey-min: #{ c('grey', max) };
    --c-grey-med: #{ c('grey', min) };
    --c-grey-max: #{ c('grey', min) };

    --c-primary-min: #{ c('primary', max) };
    --c-primary-med: #{ c('primary', med) };
    --c-primary-max: #{ c('primary', min) };

    --c-secondary-min: #{ c('secondary', max) };
    --c-secondary-med: #{ c('secondary', med) };
    --c-secondary-max: #{ c('secondary', min) };

    --colour-bg: var(--c-grey-min);
    --colour-text: var(--c-grey-max);
    --colour-grey: var(--c-grey-med);
    --colour-primary: var(--c-primary-med);
    --colour-secondary: var(--c-secondary-med);

    --gradient-subtle: #{ gradient-stops($sc: c('max'), $sa: 0, $ec: c('max'), $ea: 0.05, $sp: 0%, $ep: 100%, $s: 4, $xb: false, $ease: 'in-out') };
}

@each $c in map-keys($colours) {
    @each $n in (min,med,max) {
        .u-c--#{$c}-#{$n} {
            color: var(--c-#{$c}-#{$n});
            --c: var(--c-#{$c}-#{$n});
        }

        .h\:u-c--#{$c}-#{$n} {
            &:hover,
            &:focus {
                color: var(--c-#{$c}-#{$n});
                --c: var(--c-#{$c}-#{$n});
            }
        }

        .u-bg--#{$c}-#{$n} {
            background-color: var(--c-#{$c}-#{$n});
            --bg: var(--c-#{$c}-#{$n});
        }

        .h\:u-bg--#{$c}-#{$n} {
            &:hover,
            &:focus {
                background-color: var(--c-#{$c}-#{$n});
                --bg: var(--c-#{$c}-#{$n});
            }
        }
    }
}