.u-flex--column { flex-direction: column; }
.u-flex--wrap { flex-wrap: wrap; }
.u-flex--stretch,
.u-flex--stretchInline {
    justify-content: stretch;
}
.u-flex--stretch,
.u-flex--stretchBlock {
    align-items: stretch;
}
.u-flex--center,
.u-flex--centerBlock {
    align-items: center;
}
.u-flex--center,
.u-flex--centerInline {
    justify-content: center;
}
.u-flex--startBlock { align-items: flex-start; }
.u-flex--endBlock { align-items: flex-start; }
.u-flex--justifyInline { justify-content: space-between; }
// .u-flex--alignSelfStart { align-self: start; }
.u-flex--alignSelfEnd { align-self: end; }
.u-flex--alignSelfStretch { align-self: stretch; }
.u-flex--basis-0 { flex-basis: 0; }
// .u-flex--basis-auto { flex-basis: auto; }
.u-flex--grow-1 { flex-grow: 1; }
.u-flex--grow-3 { flex-grow: 3; }
// .u-flex--grow-0 { flex-grow: 0; }
// .u-flex--shrink-1 { flex-shrink: 1; }
.u-flex--shrink-0 { flex-shrink: 0; }