.visually-hidden { // For accessibility
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}


/* Content flow */

.u-flow > * + * {
    margin-top: #{ $base-flow-spacing };
    margin-bottom: 0;
}

/* Containers and breakout blocks */

.u-container {
    width: 100%;
    max-width: $container-max-width-em;
    margin-left: auto;
    margin-right: auto;
}

.u-breakout {
    position: relative;
    left: calc(50% - 50vw);
    width: 100vw;
}

.u-oversized {
    position: relative;
    margin-left: #{ $code-breakout-size * -1 };
    margin-right: #{ $code-breakout-size * -1 };
}

.u-oversized__content {
    width: 100%;
    max-width: calc(100vw - #{ $spacing * 2 }); // Ensure there still is a bit of space between the edges and the element
    margin-left: auto;
    margin-right: auto;
}

// Define common styles for Prism and Codepen blocks, that will be oversized beyond the main container
// pre[class*="language-"],
// .cp_embed_wrapper {
//     @extend .u-oversized;
// }

// pre[class*="language-"] code,
// .cp_embed_iframe {
//     @extend .u-oversized__content;
// }


/* Position */

.u-posRelative { position: relative; }
.u-posAbsolute { position: absolute; }
.u-zIndex--1 { z-index: 1; }


/* Overflow */

.u-overflowHidden { overflow: hidden; }


/* Display */

.u-displayBlock{ display: block; }
.u-displayInlineBlock { display: inline-block; }
.u-displayInline { display: inline; }
.u-displayFlex { display: flex; }
.u-displayGrid { display: grid; }
.u-displayInlineFlex { display: inline-flex; }

@include above-medium { .md\:u-displayFlex { display: flex; } }


/* Size */

.u-width--50 { width: 50%; }
.u-width--100 { width: 100%; }
.u-height--100 { height: 100%; }


/* Margin */

.u-margin--flexGap { margin: #{ $spacing * -.5 }; }
.u-margin--flexGap > * { margin: #{ $spacing * .5 }; }

.u-margin { margin: #{ $spacing }; }
.u-margin--double { margin: #{ $spacing * 2 }; }
.u-margin--none { margin: 0; }
.u-margin--auto { margin: auto; }
.u-marginBlock {
    margin-top: #{ $spacing };
    margin-bottom: #{ $spacing };
}
.u-marginBlock--double {
    margin-top: #{ $spacing * 2 };
    margin-bottom: #{ $spacing * 2 };
}
.u-marginBlock--none {
    margin-top: 0;
    margin-bottom: 0;
}
.u-marginBlockStart {
    margin-top: #{ $spacing };
}
.u-marginBlockStart--half {
    margin-top: #{ $spacing / 2 };
}
.u-marginBlockStart--double {
    margin-top: #{ $spacing * 2 };
}
.u-marginBlockStart--auto {
    margin-top: auto;
}
.u-marginBlockStart--none {
    margin-top: 0;
}
.u-marginBlockEnd {
    margin-bottom: #{ $spacing };
}
.u-marginBlockEnd--half {
    margin-bottom: #{ $spacing / 2 };
}
.u-marginBlockEnd--double {
    margin-bottom: #{ $spacing * 2 };
}
.u-marginInline--negative {
    margin-left: #{ $spacing * -1 };
    margin-right: #{ $spacing * -1 };
}
.u-marginInline--negative-half {
    margin-left: #{ $spacing * -.5 };
    margin-right: #{ $spacing * -.5 };
}
.u-marginInline {
    margin-left: #{ $spacing };
    margin-right: #{ $spacing };
}
.u-marginInline--none {
    margin-left: 0;
    margin-right: 0;
}
.u-marginInlineStart--auto {
    margin-left: auto;
}
.u-marginInlineStart {
    margin-left: #{ $spacing };
}
.u-marginInlineStart--auto {
    margin-left: auto;
}
.u-marginInlineEnd {
    margin-right: #{ $spacing };
}
.u-marginInlineEnd--none {
    margin-right: 0;
}
.u-marginInlineEnd--half {
    margin-right: #{ $spacing / 2 };
}
.u-marginInlineEnd--auto {
    margin-right: auto;
}
.u-marginInline--auto {
    margin-left: auto;
    margin-right: auto;
}

@include above-medium {
    .md\:u-marginInline {
        margin-left: #{ $spacing };
        margin-right: #{ $spacing };
    }
}


/* Padding */

.u-padding { padding: #{ $spacing }; }
.u-padding--double { padding: #{ $spacing * 2 }; }
.u-padding--half { padding: #{ $spacing / 2 }; }
.u-padding--quarter { padding: #{ $spacing / 4 }; }
.u-padding--none { padding: 0; }
.u-paddingBlock {
    padding-top: #{ $spacing };
    padding-bottom: #{ $spacing };
}
.u-paddingBlock--double {
    padding-top: #{ $spacing * 2 };
    padding-bottom: #{ $spacing * 2 };
}
.u-paddingBlock--half {
    padding-top: #{ $spacing / 2 };
    padding-bottom: #{ $spacing / 2 };
}
.u-paddingBlockStart {
    padding-top: #{ $spacing };
}
.u-paddingBlockStart--none {
    padding-top: 0;
}
.u-paddingBlockEnd--double {
    padding-bottom: #{ $spacing * 2 };
}
.u-paddingInline {
    padding-left: #{ $spacing };
    padding-right: #{ $spacing };
}
.u-paddingInline--double {
    padding-left: #{ $spacing * 2 };
    padding-right: #{ $spacing * 2 };
}
.u-paddingInline--half {
    padding-left: #{ $spacing / 2 };
    padding-right: #{ $spacing / 2 };
}
.u-paddingInlineStart--quarter {
    padding-left: #{ $spacing / 4 };
}


/* Float */

.u-floatLeft { float: left; }
.u-floatRight { float: right; }
.u-floatClear { clear: both; }
.u-floatClearfix::after {
    content: '';
    display: table;
    clear: both;
}
.u-shape--circle { shape-outside: circle(); }


/* Full cover relative parent element */

.u-absCover,
.u-beforeCover::before,
.u-afterCover::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.u-beforeCover::before, // Creates a ::before pseudo-element that covers the parent element
.u-afterCover::after { // Creates an ::after pseudo-element that covers the parent element
    content: '';
}
