.visually-hidden { // For accessibility
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}


/* Position */

.u-posRelative { position: relative !important; }
.u-posAbsolute { position: absolute !important; }


/* Overflow */

.u-overflowHidden { overflow: hidden !important; }


/* Display */

.u-displayBlock{ display: block !important; }
.u-displayInlineBlock { display: inline-block !important; }
.u-displayInline { display: inline !important; }
.u-displayFlex { display: flex !important; }
.u-displayInlineFlex { display: inline-flex !important; }


/* Size */

.u-width--100 { width: 100% !important; }
.u-height--100 { height: 100% !important; }


/* Margin */

.u-margin { margin: #{ $spacing } !important; }
.u-margin--double { margin: #{ $spacing * 2 } !important; }
.u-margin--none { margin: 0 !important; }
.u-margin--auto { margin: auto !important; }
.u-marginBlock--double {
    margin-top: #{ $spacing * 2 } !important;
    margin-bottom: #{ $spacing * 2 } !important;
}
.u-marginBlock--none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.u-marginBlockStart {
    margin-top: #{ $spacing } !important;
}
.u-marginBlockStart--half {
    margin-top: #{ $spacing / 2 } !important;
}
.u-marginBlockStart--double {
    margin-top: #{ $spacing * 2 } !important;
}
.u-marginBlockStart--auto {
    margin-top: auto !important;
}
.u-marginBlockStart--none {
    margin-top: 0 !important;
}
.u-marginBlockEnd {
    margin-bottom: #{ $spacing } !important;
}
.u-marginBlockEnd--double {
    margin-bottom: #{ $spacing * 2 } !important;
}
.u-marginInline--none {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.u-marginInlineStart--auto {
    margin-left: auto !important;
}
.u-marginInlineStart {
    margin-left: #{ $spacing } !important;
}
.u-marginInlineEnd {
    margin-right: #{ $spacing } !important;
}
.u-marginInlineEnd--none {
    margin-right: 0 !important;
}
.u-marginInlineEnd--half {
    margin-right: #{ $spacing / 2 } !important;
}
.u-marginInlineEnd--auto {
    margin-right: auto !important;
}
.u-marginInline--auto {
    margin-left: auto !important;
    margin-right: auto !important;
}


/* Padding */

.u-padding { padding: #{ $spacing } !important; }
.u-padding--double { padding: #{ $spacing * 2 } !important; }
.u-padding--half { padding: #{ $spacing / 2 } !important; }
.u-padding--quarter { padding: #{ $spacing / 4 } !important; }
.u-padding--none { padding: 0 !important; }
.u-paddingBlock {
    padding-top: #{ $spacing } !important;
    padding-bottom: #{ $spacing } !important;
}
.u-paddingInline {
    padding-left: #{ $spacing } !important;
    padding-right: #{ $spacing } !important;
}
.u-paddingInline--double {
    padding-left: #{ $spacing * 2 } !important;
    padding-right: #{ $spacing * 2 } !important;
}
.u-paddingInline--half {
    padding-left: #{ $spacing / 2 } !important;
    padding-right: #{ $spacing / 2 } !important;
}
.u-paddingBlockStart {
    padding-top: #{ $spacing } !important;
}
.u-paddingBlockStart--none {
    padding-top: 0 !important;
}


/* Float */

.u-floatLeft { float: left !important; }
.u-floatRight { float: right !important; }
.u-floatClear { clear: both !important; }
.u-floatClearfix::after {
    content: '';
    display: table;
    clear: both;
}


/* Full cover relative parent element */

.u-absCover,
.u-beforeCover::before,
.u-afterCover::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.u-beforeCover::before, // Creates a ::before pseudo-element that covers the parent element
.u-afterCover::after { // Creates an ::after pseudo-element that covers the parent element
    content: '';
}


/* Border radius */

.u-radius { border-radius: #{ $spacing } !important; }
.u-radius--half { border-radius: #{ $spacing / 2 } !important; }
.u-radius--quarter { border-radius: #{ $spacing / 4 } !important; }


/* Content flow */

.u-flow > * + * {
    margin-top: #{ $spacing };
    margin-bottom: 0;
}

.u-container {
    width: 100%;
    max-width: $container-max-width-em;
    @extend .u-padding--double;
    margin-left: auto;
    margin-right: auto;
}

.u-breakout {
    position: relative;
    left: calc(50% - 50vw);
    width: 100vw;
}