@mixin above-large {
    @media (min-width: #{$large-breakpoint-width}) {
        @content;
    }
}

@mixin above-medium {
    @media (min-width: #{$medium-breakpoint-width}) {
        @content;
    }
}

@mixin above-small {
    @media (min-width: #{$small-breakpoint-width}) {
        @content;
    }
}

@mixin fluid-type($min, $max) {
    font-size: $min;

    @include above-small {
        font-size: fluid-type($small-breakpoint-width-rem, $large-breakpoint-width-rem, $min, $max);
    }

    @include above-large {
        font-size: $max;
    }
}
