---
permalink: /manifest.json
---
{
    "start_url": "{{ metadata.url }}",
    "name": "{{ metadata.title }}",
    "short_name": "{{ metadata.title }}",
    "icons": [{
        "src": "{{ "/" + metadata.assetUrl.icons.googleIcon | url }}",
        "sizes": "512x512"
    }],
    "background_color": "{{ tokens.colors.dusk.primary.max }}",
    "theme_color": "{{ tokens.colors.dusk.primary.max }}",
    "display": "fullscreen"
}