---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - language
    - nav
    - post
    - posts
permalink: /tags/{{localeRoot}}{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "{{ localisedContent.tagged }} “{{ tag }}”"
---

<h1>{{ localisedContent.tagged }} “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
