---
pagination:
    data: designs
    size: 1
    alias: design
permalink: "designs/{{ design.slug | slug }}/"
eleventyExcludeFromCollections: true
eleventyComputed:
  displayTitle: "{{ design.name | safe }}"
  title: "{{ design.name | safe }} — Design"
  subtitle: "{{ design.description | safe }}"
  summary: "{{ design.description | safe }} | Design by Christopher Kirk-Nielsen"
  customMetaImage: "{{ '/' + metadata.assetUrl.designsFolder + '/' + design.img }}"
backlink: { url: "/designs", label: "Back to Designs" }
---

<article class="c-sidebyside u-displayFlex u-border u-border--primary-med u-border-radius">
  {% if design.img %}
  <div class="c-sidebyside__media">
      <img src="{{ '/' + metadata.assetUrl.designsFolder + '/' + design.img | url }}" alt="" width="600" height="600">
  </div>
  {% endif %}

  <div class="c-sidebyside__content u-flow u-padding u-bg--grey-max">
    {% if design.links %}
    <h2>Available on</h2>
    <ul class="u-flow u-flow--small">
      {%- for site, url in design.links %}
        <li><a href="{{ url | url }}">{{ site }}</li>
      {% endfor -%}
    </ul>
    {% endif %}
    
    {% if design.note %}<p class="u-fontItalic">{% markdown true %}{{ design.note }}{% endmarkdown %}</p>{% endif %}
    {% if design.similar %}
    <h2 class="h3">Similar designs:</h2>
    <ul class="u-flow u-flow--small">
      {%- for otherDesignSlug in design.similar %}
        {% set otherDesign = designs | itemFromProp('slug', otherDesignSlug) %}
        <li><a href="{{ '/designs/' + otherDesign.slug + '/' | slug | url }}">{{ otherDesign.name | safe }}</a></li>
      {% endfor -%}
    </ul>
    {% endif %}
  </div>
</article>

<script>
  {% set backlinkThroughHistory %}
  // Send back to a potential filtered view
  var backlinkEl = document.querySelector('[href="/designs"]');
  if (document.referrer.replace(/\/$/, '') === backlinkEl.href.replace(/\/$/, '')) {
    backlinkEl.addEventListener('click', function (e) {
      e.preventDefault();
      window.history.go(-1);
      // If there is an issue with history and nothing happens, go to the basic URL after a short while
      setTimeout(function() { window.location.href = backlinkEl.href; }, 500);
      return false;
    });
  }
  {% endset %}
  {{- backlinkThroughHistory | jsmin | safe -}}
</script>