---
title: Designs
subtitle: A collection of art prints and shirt designs I've made
summary: Nerdy shirt designs by Christopher Kirk-Nielsen
navtitle: "Designs"
---

<div class="u-textCenter">
  <p class="visually-hidden">Shops:</p>
  <ol class="o-inlineList u-fontBold u-textSmall"><li>{{ metadata.merch | hyperlinksFromKeyValuePairs("</li><li>") | safe }}</li></ol>
</div>

<hr class="u-marginBlockStart--double u-marginBlockEnd">

<fieldset class="u-displayFlex u-margin--none u-padding--none | u-border--none | filtering" hidden>
  <script>document.querySelector('.filtering').hidden=false</script>
  <legend class="u-padding--none | u-fontBold">Filter:</legend>
  {% set tagClasses = "u-displayInlineBlock u-paddingBlock--quarter u-paddingInline--half | u-fontBold u-border u-border--accent u-border-radius" %}
  <div class="u-posRelative u-displayFlex u-gap--small u-flex--wrap filtering-list">
    <div>
      <input type="radio" name="filter" class="visually-hidden" id="filter-all" value="" checked>
      <label for="filter-all" class="{{ tagClasses }}">All</label>
    </div>

    {% for tag in designs | propBool('showInGallery') | pluck('tags') | flatten | unique | sort %}
    <div>
      <input type="radio" name="filter" id="filter-{{ tag }}" class="visually-hidden" value="{{ tag | makeLowercase }}">
      <label for="filter-{{ tag }}" class="{{ tagClasses }}">{{ tag }}</label>
    </div>
    {% endfor %}
  </div>
</fieldset>

<div class="cards u-displayFlex u-flex--wrap u-marginBlockStart" data-filtered-list="idle">
{% for design in designs | propBool('showInGallery') %}
  <article
    class="card u-posRelative u-displayFlex u-flex--column u-border u-border--primary-med"
    id="{{ design.slug }}"
    data-filtered-item
    data-tags="
      {%- for tag in design.tags -%}
      {{ tag }}
      {%- if not loop.last %},{% endif -%}
      {%- endfor -%}
    "
    aria-hidden="false"
  >
    {% set designPermalink = '/designs/' + design.slug %}
    {% if design.img %}
    <div class="card__image u-flex--shrink-0 u-bg--grey-med">
      <a href="{{ designPermalink | url }}" aria-label="{{ design.name }}" tabindex="-1">
        <img
          src="{{ '/' + metadata.assetUrl.designsFolder + '/' + design.img | url }}"
          srcset="
            {{ '/' + metadata.assetUrl.designsFolder + '/' + design.img + '?nf_resize=fit&w=300' | url }} 300w,
            {{ '/' + metadata.assetUrl.designsFolder + '/' + design.img | url }} 600w
          "
          sizes="
            (max-width: 575px) 90vw,
            (max-width: 847px) 40vw,
            (max-width: 1023px) 30vw,
            300px
          "
          alt=""
          width="600"
          height="600"
          {{ ('loading="lazy"' | safe) if loop.index >= 6 }}
        />
      </a>
    </div>
    {% endif %}

    <div class="card__content u-displayFlex u-flex--column u-flex--grow-1 u-bg--grey-max">
      <h2 class="card__title | h3 | u-marginBlockEnd--half">
        <a href="{{ designPermalink | url }}" class="heading-link">{{- design.name -}}</a>
      </h2>
      
      <ul role="list" class="o-inlineList u-marginBlockStart--auto">
        {%- for site, url in design.links %}
          <li><a href="{{ url | url }}">{{ site }}</li>
        {% endfor -%}
      </ul>
    </div>
  </article>
{% endfor %}
</div>

<script>
  {% set designsFilter %}
  var hashIndicator = 'filter:';
  var initialHash = window.location.hash.slice(1);
  var items = [].slice.call(document.querySelectorAll('[data-tags]'));
  var list = document.querySelector('[data-filtered-list]');
  var duration = 500;
  list.style.setProperty('--t', duration + 'ms');

  function filterTo(filter) {
    var isShowAll = (filter === '');
    var prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;

    list.setAttribute('data-filtered-list', 'change');
    
    items.forEach(function (item) {
      var tags = item.getAttribute('data-tags').split(',');
      var isShown = (tags.indexOf(filter) > -1) || isShowAll;
      item.style.setProperty('--d', Math.floor(Math.random() * duration / 10) + 'ms');

      setTimeout(function(){
        item.setAttribute('aria-hidden', (!isShown).toString());
      }, (prefersReducedMotion ? 0 : duration));
    });

    setTimeout(function() {
      list.setAttribute('data-filtered-list', 'idle');
    }, (prefersReducedMotion ? 0 : duration));

    history.replaceState(undefined, '', filter ? ('#' + hashIndicator + filter) : '#');
  }

  if (initialHash.indexOf(hashIndicator) === 0) {
    var baseFilter = initialHash.slice(hashIndicator.length);
    var filterSelectBox = document.querySelector('#filter-'+(baseFilter || 'all'));
    if (!filterSelectBox) {
      baseFilter = '';
      filterSelectBox = document.querySelector('#filter-all');
    }
    filterSelectBox.checked = true;
    filterTo(baseFilter);
  }

  document.addEventListener('input', function (e) {
    var radio = e.target.closest('[name="filter"]');
    if (!radio) { return; }
    var filter = radio.value;
    filterTo(filter);
  });
  {% endset %}
  {{- designsFilter | jsmin | safe -}}
</script>
