body {
    overflow-x: hidden;

    // font-family: f('body', 'fallback');
    font-family: sans-serif;
    --currentColor: var(--colour-text);
    --currentBackground: var(--colour-bg);
    color: var(--currentColor);
    background-color: var(--currentBackground);
}
