html { // Min is lightest during dusk, Max is darkest
    --c-min: #{ c('min', $theme: 'all') };
    --c-max: #{ c('max', $theme: 'all') };
    --c-alpha-lum: 100%;

    --c-grey-min: #{ c('grey', 'min', $theme: 'dusk') };
    --c-grey-med: #{ c('grey', 'med', $theme: 'dusk') };
    --c-grey-max: #{ c('grey', 'max', $theme: 'dusk') };

    --c-primary-min: #{ c('primary', 'min', $theme: 'dusk') };
    --c-primary-med: #{ c('primary', 'med', $theme: 'dusk') };
    --c-primary-max: #{ c('primary', 'max', $theme: 'dusk') };

    --c-secondary-min: #{ c('secondary', 'min', $theme: 'dusk') };
    --c-secondary-med: #{ c('secondary', 'med', $theme: 'dusk') };
    --c-secondary-max: #{ c('secondary', 'max', $theme: 'dusk') };

    --color-bg: var(--c-primary-max);
    --color-text: var(--c-grey-min);
    --color-accent: var(--c-secondary-med);

    --gradient-subtle: #{ gradient-stops($sc: c('min'), $sa: 0, $ec: c('min'), $ea: 0.05, $sp: 0%, $ep: 100%, $s: 4, $xb: false, $ease: 'in-out') };
}

html[data-scheme="dawn"] { // Min is darkest during dawn, Max is brightest
    --c-min: #{ c('max', $theme: 'all') };
    --c-max: #{ c('min', $theme: 'all') };
    --c-alpha-lum: 0%;
    
    --c-grey-min: #{ c('grey', 'min', $theme: 'dawn') };
    --c-grey-med: #{ c('grey', 'med', $theme: 'dawn') };
    --c-grey-max: #{ c('grey', 'max', $theme: 'dawn') };

    --c-primary-min: #{ c('primary', 'min', $theme: 'dawn') };
    --c-primary-med: #{ c('primary', 'med', $theme: 'dawn') };
    --c-primary-max: #{ c('primary', 'max', $theme: 'dawn') };

    --c-secondary-min: #{ c('secondary', 'min', $theme: 'dawn') };
    --c-secondary-med: #{ c('secondary', 'med', $theme: 'dawn') };
    --c-secondary-max: #{ c('secondary', 'max', $theme: 'dawn') };

    --color-bg: var(--c-primary-max);
    --color-text: var(--c-grey-min);
    --color-accent: var(--c-primary-med);

    --gradient-subtle: #{ gradient-stops($sc: c('max'), $sa: 0, $ec: c('max'), $ea: 0.05, $sp: 0%, $ep: 100%, $s: 4, $xb: false, $ease: 'in-out') };
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    
    --currentColor: var(--color-text);
    --currentBackground: var(--color-bg);
    color: var(--currentColor);
    background-color: var(--currentBackground);

    @include custom-scrollbar;

    // On smaller viewports, the menu is at the bottom: add padding to prevent it overlaping content
    @include below-medium {
        padding-bottom: #{ $small-viewport-nav-height };
    }
}