a {
    color: currentColor;
    text-decoration: underline;
}

a,
button {
    &:focus {
        outline: 4px dashed var(--colour-secondary);
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }
        
    &:focus:not(:-moz-focusring) {
        outline: none;
    }
}