a {
    color: currentColor;
    text-decoration: underline;
}

a,
button,
summary {
    &:focus {
        outline: 4px dashed var(--color-accent);
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }
        
    &:focus:not(:-moz-focusring) {
        outline: none;
    }
}

details {
    & > summary {
        cursor: pointer;

        &::-webkit-details-marker { color: var(--color-accent); }
        &::marker { color: var(--color-accent); }
    }

    &[open] > summary {
        &::-webkit-details-marker { color: var(--c-grey-med); }
        &::marker { color: var(--c-grey-med); }
    }
}