html[data-scheme="dusk"] img {
    opacity: .9;
    filter: brightness(0.8) contrast(1.2);
}

svg {
    // Ensure SVG elements transform from their centre point
    transform-origin: 50% 50%;
    
    & * {
        transform-origin: inherit;
    }

    color: #3ec2d3;
    color: #12ede6;
    color: #060a37;
    color: #9a224a;
    color: #101652;
    color: #e7a6ff;
}