body {
    font-family: f('body');
    font-size: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// Set quote style
:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
:lang(fr) > q { quotes: '« ' ' »'; }

%heading {
    margin: 0;
    
    font-family: f('heading');
    font-weight: 700;
}

h1 { @extend %heading; }
h2 { @extend %heading; }
h3 { @extend %heading; }
h4 { @extend %heading; }
h5 { @extend %heading; }
h6 { @extend %heading; }

h1, .h1 { font-size: 1.50rem; }
h2, .h2 { font-size: 1.24rem; }
h3, .h3 { font-size: 1.12rem; }
h4, .h4 { font-size: 1.00rem; }
h5, .h5 { font-size: 0.83rem; }
h6, .h6 { font-size: 0.67rem; }

p {
    margin: 0;
    
    -ms-word-wrap: break-word;
    word-break: break-word; //non-standard css for webkit
    word-wrap: break-word;
    font-size-adjust: auto;
}

hr {
    height: 2px;

    border: 0;
    background: c('grey', 500);
}