body {
    font-family: f('body');
    font-size: 100%;
    font-kerning: normal; // Safari needs this one to enable proper kerning
    font-feature-settings: "kern";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// Set quote style
:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
:lang(fr) > q { quotes: '«\00A0' '\00A0»'; }

h1,
h2,
h3,
// h4,
// h5,
// h6,
.h {
    @if (f('heading') != f('body')) {
        // Don't declare the font family into heading elements if it's the same as the body
        font-family: f('heading');
    }

    font-weight: 700;
    line-height: 1.2;
    color: var(--c-primary-min);
    --currentColor: var(--c-primary-min);

    @if (map-deep-get($fonts, 'heading', 'main') == 'Marvin Visions Big') {
        // Keep the type tight, but not too tight
        letter-spacing: #{ $heading-font-letter-spacing };
    }
}

h1,
.h1 {
    $min: 1rem * pow($ratio, 4);
    $max: 1rem * pow($ratio, 6);

    @include fluid-type($min, $max);
}

h2,
.h2 {
    $min: 1rem * pow($ratio, 3);
    $max: 1rem * pow($ratio, 5);

    @include fluid-type($min, $max);
}

h3,
.h3 {
    $min: 1rem * pow($ratio, 2);
    $max: 1rem * pow($ratio, 4);

    @include fluid-type($min, $max);
}

// h4,
// .h4 {
//     $min: 1rem * pow($ratio, 1);
//     $max: 1rem * pow($ratio, 3);

//     @include fluid-type($min, $max);
// }

// h5,
// .h5 {
//     $min: 1rem / $ratio;
//     $max: 1rem * pow($ratio, 2);

//     @include fluid-type($min, $max);
// }

// h6,
// .h6 {
//     $min: 1rem;
//     $max: 1rem * $ratio;

//     @include fluid-type($min, $max);
// }

h1 {
    max-width: 24ch;
}

h2,
h3 {
    max-width: 32ch;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}